---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ScrollsSearch from '../../components/ScrollsSearch.vue';
---

<BaseLayout title="Database">
    <div class="archive-page page">
        <div class="search-page">
            <h1>Medieval Scrolls Database</h1>
            <div id="search">
                <ScrollsSearch client:load />
            </div>
        </div>
    </div>
</BaseLayout>

<script type="module">
    document.body.classList.add("archive-search", "grid", "primary");
</script>

<style>
    .search-page {
        min-height: 500px;
        padding: 100px;
    }
    #search {
        margin-top: 60px;
    }
</style>