---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE } from '../../consts';
import { getCollection } from 'astro:content';
import Search from "astro-pagefind/components/Search";

const scrolls = (await getCollection('scrolls')).sort();

---
<!-- <Debug {plainText} /> -->

<BaseLayout title="Database">
    <div class="archive-page page">
        <div class="search-page">
            <div id="search"></div>
        </div>
    </div>
</BaseLayout>
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js" is:inline></script>
<script type="module">
    document.body.classList.add("archive-search", "grid", "primary");
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#search",
            pageSize: 25,
            showImages: false,
            showEmptyFilters: false
        });
    });
    // const pagefind = await import("/pagefind/pagefind.js");

    // const filters = await pagefind.filters();
    // console.log(filters);

    // const search = await pagefind.search("a");
    // const fiveResults = await Promise.all(search.results.slice(0, 5).map(r => r.data()));
    // console.log(fiveResults);
</script>

<style>
    .search-page {
        min-height: 500px;
    }
    #search {
        margin-top: 60px;
    }
</style>