---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Full Database Bibliography" src="">
    <main>
        <section>
            <p>Below is a comprehensive bibliography on medieval scrolls. Here you will find full bibliographic information, expanding on the short citations found within each individual scroll record.</p>
            <p>Entries are listed alphabetically by creator.</p>
            <p>The goal of this bibliography is to serve as a complete resource of information on Medieval scrolls. If you are aware of a source not contained within our collection please contact us at contact@medievalscrolls.com.</p>
        </section>
    </main>
</PageLayout>