---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Full Database Bibliography" imgPath="">
    <main>
        <section class="article-content">
            <div class="article-body"><p style="text-align: center;">Below is a comprehensive bibliography on medieval scrolls. Here you will find full bibliographic information, expanding on the short citations found within each individual scroll record.</p>
                <p style="text-align: center;">Entries are listed alphabetically by creator. You can jump to a specific letter of the alphabet by clicking the links below. &nbsp;Please use the your browser’s search function to find individual citations <br>(Windows: <i>CTRL + F; </i>Mac: <i>command + F)</i>.</p>
                <p style="text-align: center;"><strong><a href="#A">A</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#B">B</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#C">C</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#D">D</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#E">E</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#F">F</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#G">G</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#H">H</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#I">I</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#J">J</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#K">K</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#L">L</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#M">M</a></strong></p><a href="#M">
                </a><p style="text-align: center;"><a href="#M"><strong></strong></a><strong><a href="#">N</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#O">O</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#P">P</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Q">Q</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#R">R</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#S">S</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#T">T</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#U">U</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#V">V</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#W">W</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#X">X</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Y">Y</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Z">Z</a></strong></p>
                <p style="text-align: center;">The goal of this bibliography is to serve as a complete resource of information on Medieval scrolls. If you are aware of a source not contained within our collection please contact us at contact@medievalscrolls.com.</p>
                <p>&nbsp;</p>
                <p><a id="A">&nbsp;</a></p>
                <p><strong>A</strong></p>
                <p>Accigliaro, Walter. <i>Sacri argenti della cattedrale di Alba: oggetti liturgici e oreficeria devozionale nel Tesoro del Duomo (dal XIV al XIX secolo)</i>. Alba: Centro culturale San Giuseppe, 2005.</p>
                <p>Aebischer, Paul. “Un Manuscrit Valaisan Du Viandier Attribué À Taillevent.” <i>Vallesia</i> 8 (1953): 73–100.</p>
                <p>“Agnelli Qui et Andreas Liber Pontificalis Ecclesiae Ravennatis.” <i>Scriptores Rerum Langobardicarum et Italicarum Saec. VI-IX</i>, 1878.</p>
                <p>Alexopoulos, Stefanos, and Annewies van den Hoek. “The Endicott Scroll and Its Place in the History of Private Communion Prayers.” <i>Dumbarton Oaks Papers</i> 60 (January 1, 2006): 145–88.</p>
                <p>Altet, Xavier Barral, François Avril, and Danielle Gaborit-Chopin. <i>Le Temps Des Croisades</i>. Paris: Gallimard, 1982.</p>
                <p>Amato, Pietro, ed. <i>Mostra, Roma, Castel Sant’Angelo 18 Dicembre 1986 – 31 Gennaio 1987</i>. Tesori D’arte Dei Musei Diocesano. Torino: Umberto Allemandi, 1986.</p>
                <p>André, Grabar. “Un Rouleau Liturgique Constantinopolitain et Ses Peintures.” <i>Dumbarton Oaks Papers</i> 8 (1954): 161–99.</p>
                <p>Andrieu, Michel. “Le sacre épiscopal e’après Hincmar de Reims.” <i>Revue D’histoire Ecclésiastique</i>, no. 48 (1953): 22–73.</p>
                <p>Anglo, Sidney. <i>The British History, in Early Tudor Propaganda</i>. Manchester: John Rylands Library, 1961.</p>
                <p>Arns, Paulo Evaristo. <i>La technique du livre d’après Saint Jérôme</i>. Paris: E. de Boccard, 1953.</p>
                <p>Ashburnham, Bertram. <i>Catalogue of the Manuscripts at Ashburnham Place [the Property of the Earl of Ashburnham]. Appendix</i>. London: Charles Francis Hodgson, 1861.</p>
                <p>Atsalos, Basile. <i>La Terminologie Du Livre-Manuscrit À L’époque Byzantine</i>. Vol. 21. Hellēnika. Thessalonikē: Hetaireia Makedonikōn Spoudōn, 1971.</p>
                <p>Avril, François, Nicole Reynaud, and Dominique Cordellier. “Six Fragments.” In <i>Les Enluminures Du Louvre: Moyen Âge et Renaissance</i>, 30–37. Paris: Louvre, 2011.</p>
                <p><a id="B">&nbsp;</a></p>
                <p><strong>B</strong></p>
                <p>Banting, H. M. J., ed. <i>Two Anglo-Saxon Pontificals: The Egbert and Sidney Sussex Pontificals</i>. Henry Bradshaw Society, v. 104. London: Boydell Press, 1989.</p>
                <p>Barret, Sébastien. “La Mémoire et L’écrit: L’abbaye de Cluny et Ses Archives (Xe-XVIIIe&nbsp;Siècle).” <i>Bulletin Du Centre D’études Médiévales d’Auxerre</i> 13 (2009): 387–90.</p>
                <p>Baroffio, Giacomo, Cristina Mastroianni, and Fabrizio Mastroianni. <i>Frammenti Di Storia Medioevale: Mostra Di Codici E Frammenti Di Codici Liturgici Dei Secoli XI-XIV Dall’archivio Storico Del Comune Di Stroncone</i>. Stroncone: Comune di Stroncone, 1998.</p>
                <p>Bauer-Smith, Charlotte. “Mapping Family Lines: A Late Fifteenth-Century Example of Genealogical Display.” In <i>Reputation and Representation in Fifteenth Century Europe</i>, edited by Douglas L. Biggs, Sharon D. Michalove, and Albert Compton Reeves, 123–44. Leiden: Brill, 2004.</p>
                <p>Bäuml, Franz H., and Richard H. Rouse. “Roll and Codex: A New Manuscript Fragment of Reinmar von Zweter.” <i>Beiträge Zur Geschichte Der Deutschen Sprache Und Literatur (PBB)</i> 105, no. 1 (1983): 192–231, 317–30.</p>
                <p>Beadle, R. <i>Dated and Datable Manuscripts in Cambridge Libraries</i>. English Manuscript Studies 1100-1700 3, 1992.</p>
                <p>Beal, Peter, and Jeremy Griffiths. <i>Manuscripts in The Schøyen Collection Copied or Owned in the British Isles before 1700</i>. Vol. 5. English Manuscript Studies 1100-1700. London, 1995.</p>
                <p>Benz, Suitbert. <i>Der Rotulus von Ravenna: Nach Seiner Herkunft Und Seiner Bedeutung Für Die Liturgiegeschichte Kritisch Untersucht</i>. Vol. 45. Liturgiewissenschaftliche Quellen Und Forschungen. Münster, Westfalen: Aschendorffsche, 1967.</p>
                <p>Bergmann, Rolf. <i>Studien zu Entstehung und Geschichte der deutschen Passionsspiele des 13. und 14. Jahrhunderts</i>. Münstersche Mittelalter-Schriften 14. München: W. Fink, 1972.</p>
                <p>Bergmann, Rolf, and Gregor Martin Lechner. “Göttweiger Dirigierrolle Eins Osterspiels.” In <i>900 Jahre Stift Göttweig, 1083-1983: Ein Donaustift Als Repräsentant Benediktinischer Kultur : Jubiläumsausstellung, Stift Göttweig, 29. April Bis 26. Oktober 1983 Im Kaiser- Und Fürstentrakt Mit Prälatur</i>, 573–77. Wien: Die Kunstsammlungen, 1983.</p>
                <p>Berlière, Ursmer. “Un rouleau des morts de l’abbaye de Saint-Trond de l’an 1450.” <i>Revue bénédictine</i> 8 (1892): 327–31.</p>
                <p>Besse, Jean-Martial, and Jean Coquet. “Les édifices religieux du haut moyen âge à l’abbaye de ligugé.” <i>Revue Mabillon: archives de la France monastique</i>, no. 45 (1955): 75–155.</p>
                <p>Bethmann, Ludwig Konrad. <i>Chronicon Novalicense</i>. Monumenta Germanicae Historica Scriptores 7. Hannover: Hahn, 1846.</p>
                <p>Binski, P., and S. Panayotova. <i>The Cambridge Illuminations: Ten Centuries of Book Production in the Medieval West</i>. Studies in Medieval and Early Renaissance Art History 42. Turnhout: Brepols, 2005.</p>
                <p>Birt, Theodor. <i>Die Buchrolle in Der Kunst: Archäologisch-Antiquarische Untersuchungen Zum Antiken Buchwesen</i>. New York: Olms, 1976.</p>
                <p>Bischoff, Bernhard. <i>Katalog Der Festländischen Handschriften Des Neunten Jahrhunderts: Aachen-Lambach</i>. Basel: Otto Harrassowitz Verlag, 1998.</p>
                <p>Bischoff, Bernhard. <i>Latin Palaeography: Antiquity and the Middle Ages</i>. Cambridge: Cambridge University Press, 1990.</p>
                <p>Bischoff, Bernhard. <i>Lorsch Im Spiegel Seiner Handschriften</i>. Münchener Beiträge Zur Mediävistik Und Renaissance-Forschung: Beiheft. München: Bei der Arben-Gesellschaft, 1974.</p>
                <p>Bischoff, Bernhard. <i>Paläographie Des Römischen Altertums Und Des Abendländischen Mittelalters</i>. Vol. 24. Grundlagen Der Germanistik. Berlin: E. Schmidt, 1986.</p>
                <p>Black, John R. “Tradition and Transformation in the Cult of St. Guthlac in Early Medieval England.” <i>The Heroic Age. A Journal of Early Medieval Northwestern Europe</i> 10 (May 2007). http://www.heroicage.org/issues/10/black.html.</p>
                <p>Black, William Henry. <i>A Descriptive, Analytical, and Critical Catalog of the Manuscripts Bequethed unto the University of Oxford by Elias Ashmole</i>, Esq. Oxford: Oxford University Press, 1845.</p>
                <p>Blanchard, Alain. <i>Les Débuts Du Codex: Actes de La Journée D’étude Organisée À Paris Les 3 et 4 Juillet 1985 Par l’Institut de Papyrologie de La Sorbonne et l’Institut de Recherche et D’histoire Des Textes</i>. Vol. 9. Bibliologia. Turnhout: Brepols, 1989.</p>
                <p>Boffey, Julia, and A.S.G. Edwards. <i>A New Index of Middle English Verse</i>. London: The British Library, 2005.</p>
                <p>Böhmer, Aloys. “Die Schrift Und Ihre Entwicklung.” In <i>Handbuch Der Bibliothekswissenschaft</i>, edited by Fritz Milkau, 1:27–149. Leipzig: O. Harrassowitz, 1931.</p>
                <p>Bond, W. H., and Christopher Urdahl Faye. <i>Supplement to the Census of Medieval and Renaissance Manuscripts in the United States and Canada</i>. New York: Bibliographical Society of America, 1962.</p>
                <p>Booton, Diane E. <i>Manuscripts, Market and the Transition to Print in Late Medieval Brittany</i>. Ashgate Publishing, Ltd., 2010.</p>
                <p>Bosio, Luciano. <i>La Tabula Peutingeriana</i>. Rimini: Maggioli, 1983.</p>
                <p>Bovey, Alixe. <i>The Chaworth Roll: A Fourteenth-Century Genealogy of the Kings of England</i>. London: Sam Fogg, 2005.</p>
                <p>Brandis, Tilo. “Ein mittelhochdeutscher ast-Kaiser-Rotulus des 15. Jahrhunderts.” In <i>Festschrift Albi Rosenthal</i>, edited by Rudolf Elvers, 67–80. Tutzing: H. Schneider, 1984.</p>
                <p>Branner, Robert. “The Saint-Quentin Rotulus.” <i>Scriptorium </i>21 (1967): 252–60.</p>
                <p>Brault, Gerard J. <i>Rolls of Arms of Edward I</i>. Suffolk, UK: Boydell &amp; Brewer Ltd, 1997.</p>
                <p>Brewer, Charles E. “A Fourteenth-Century Polyphonic Manuscript Rediscovered.” <i>Studia Musicologica Academiae Scientiarum Hungaricae</i> 24, no. 1/2 (1982): 5–19.</p>
                <p>Brie, F. W. D. <i>Geschichte Und Quellen Der Mittelenglischen Prosachronik The Brute of England Oder The Chronicles of England</i>. Marburg, 1905.</p>
                <p>Brown, Carleton Fairchild, and Rossell Hope Robbins. <i>The Index of Middle English Verse</i>. New York: Printed for the Index Society by Columbia University Press, 1943.</p>
                <p>Brückmann, J. “Latin Manuscript Pontificals and Benedictionals in England and Wales.” <i>Traditio</i> 29 (1973): 391–458.</p>
                <p>Buccolo, Marco. “Un antico antifonario sul verso del Rotulo di San Teobaldo.” <i>Alba Pompeia</i> 10 (n.d.): 82–90.</p>
                <p>Bühler, Curt F. “A Middle English Prayer Roll.” <i>Modern Language Notes</i> 52, no. 8 (1937): 555–62.</p>
                <p>Bühler, Curt F. “Prayers and Charms in Certain Middle English Scrolls.” <i>Speculum</i> 39, no. 2 (1964): 270–78.</p>
                <p>Bühler, Curt F. “Thunder Books Again.” <i>Res Publica Litterarum. Studies in the Classical Tradition</i> I (1978): 1–5.</p>
                <p>Bünger, Fritz. <i>Admonter Totenroteln (1422-1496)</i>. Vol. 19. Beiträge Zur Geschichte Des Alten Mönchtums Und Des Benediktinerordens. Münster in Westfalia: Aschendorff, 1935.</p>
                <p>Büttner-Wobst, Teodor. <i>Ioannes Zonarae ANnales</i>. 3 vols. Corpus Scriptorum Historiae Byzantinae. Bonn: Weber, 1841.</p>
                <p>Butzmann, Hans. <i>Die Blankenburger Handschriften</i>. Frankfurt am Main: Klostermann, 1966.</p>
                <p><a id="C">&nbsp;</a></p>
                <p><strong>C</strong></p>
                <p>Cabrol, Fernand, and Henri Leclercq. <i>Dictionnaire D’archéologie Chrétienne et de Liturgie</i>. Paris: Letouzey et Ané, 1907.</p>
                <p>Cahn, Walter. “Représentations de La Parole.” <i>Connaissance Des Arts</i>, November 1982, 82–89.</p>
                <p>Cahn, Walter. “The Allegorical Menorah.” In <i>Tributes in Honor of James H. Marrow: Studies in Painting and Manuscript Illumination of the Late Middle Ages and Northern Renaissance</i>, edited by Jeffrey F. Hamburger and A. S. Korteweg, 117–26. London: Harvey Miller, 2006.</p>
                <p>Canivez, J. M. “Aulps.” In <i>Dictionnaire D’histoire et de Géographie Ecclésiastiques, 5:672–74</i>. Paris, 1931.</p>
                <p>Carlino, Laura. <i>Cronache universali in rotulo nel tardo Medioevo: la storia per immagini nel ms. 258 della Biblioteca Statale di Cremona</i>. Istituto Poligrafico e Zecca dello Stato, 1997.</p>
                <p>Carpenter, C., <i>The Armbrugh papers: the Brokholes inheritance in Warwickshire, Hertfordshire and Essex, c.1417-c.1453</i>. (Woodbridge: Boydell, 1998).</p>
                <p><i>Catalogue Général Des Manuscrits Des Bibliothèques Publiques de France Des Départements</i>. Paris: Plon, Nourrit et Cie, 1885.</p>
                <p><i>Catalogue of Additions to the Manuscripts in the British Museum in the Years MDCCCLIV-MDCCCLX</i>. London: The Trustees of the British Museum, 1875.</p>
                <p><i>Catalogue of Additions to the Manuscripts in the British Museum in the Years MDCCCLIV-MDCCCLXXV</i>. Vol. 2. London: The Trustees of the British Museum, 1877.</p>
                <p><i>Catalogue of Additions to the Manuscripts in the British Museum in the Years MDCCCXLVII-MDCCCLIII</i>. London: The Trustees of the British Museum, 1868.</p>
                <p>Cavallo, Adolph S. “A Newly Discovered Trecento Orphrey from Florence.” <i>Burlington Magazine</i> CII (December 1960).</p>
                <p>Cavallo, Guglielmo. <i>The Shape of the Book: From Roll to Codex (3rd Century BC-19th Century AD)</i>. Edited by Franca Arduini. Vol. 2. Library on Display. Firenze: Mandragora, 2008.</p>
                <p>Cavallo, Guglielmo, Giulia Orofino, and Oronzo Pecere, eds. <i>Exultet: Rotoli Liturgici Del Medioevo Meridionale</i>. Roma: Istituto poligrafico e Zecca dello Stato, Libreria dello Stato, 1994.</p>
                <p>Chazelle, Celia M. “Pictures, Books, and the Illiterate: Pope Gregory’s Letters to Serenus of Marseilles.” <i>Word and Image</i> 6, no. 2 (1990): 138–53.</p>
                <p>Cipolla, Carlo. <i>Monumenta Novaliciensia Vetustiora; Raccolta Degli Atti E Delle Cronache Riguardanti L’abbazia Della Novalesa</i>. Fonti per La Storia d’Italia Pubblicate Dall’ Istituto Storico Italiano. Scrittori, Secoli VIII-XI 31-32. Roma: Forzani, 1898.</p>
                <p>Clanchy, M. T. <i>From Memory to Written Record, England 1066-1307</i>. 2nd ed. Oxford: Blackwell, 1993.</p>
                <p>Clausberg, Karl. “Spruchbandaussagen Zum Stilcharacter.” <i>Städel-Jahrbuch</i> 13 (1991): 81–110.</p>
                <p>Cleaver, Laura. “Past, Present and Future for Thirteenth-Century Wales: Two Diagrams in British Library, Cotton Roll XIV.12.” <i>Electronic British Library Journal</i>, 2013. http://www.bl.uk/eblj/2013articles/article13.html.</p>
                <p>Cleaver, Laura. “Past, Present and Future for Thirteenth-Century Wales: Two Diagrams in British Library, Cotton Roll XIV.12.” <i>Electronic British Library Journal</i>, 2013, 1–26.</p>
                <p>Clemens, Raymond, and Timothy Graham. <i>Introduction to Manuscript Studies</i>. Ithaca, NY: Cornell University Press, 2007.</p>
                <p>Clemens, Raymond, and Timothy Graham. <i>Introduction to Manuscript Studies</i>. Ithaca, NY: Cornell University Press, 2007.</p>
                <p>Coens, Maurice. “La Vie Ancienne de Saintes Godelive Par Drogon de Bergues.” <i>Analecta Bollandiana</i>, no. 44 (1926): 102–37.</p>
                <p>Collins, A. J. “A Book of Hours in Roll Form.” <i>The British Museum Quarterly</i> 4, no. 4 (1930): 111.</p>
                <p>Collins, R. L. “An Aelfric Manuscript Fragment.” <i>Times Literary Anglia</i>, September 2, 1960, 561.</p>
                <p>Congrès, national des sociétés savantes. “Les Rollets de Théâtre: Étude Codicologique.” In <i>Théâtre et Spectacles Hier et Aujourd’hui: Moyen Âge et Renaissance</i>, 51–71. Paris: Editions du CTHS, 1991.</p>
                <p>Coutin, F. “Inventaire de l’Abbaye Notre-Dame d’Aulps.” In <i>Mémoires et Documents Publiés Par l’Académie Salésienne, 74:71–83</i>.</p>
                <p>Coxe, Henry O. <i>Bodleian Library Quarto Catalogues I. Greek Manuscripts. Reprinted with Corrections from the Edition of 1853</i>. Oxford, England: Bodleian Library, 1969.</p>
                <p>Cuming, Geoffrey J. <i>The Liturgy of St. Mark</i>. Vol. 234. Orientalia Christiana Analecta. Rome: Pontificium Institutum Studiorum Orientalium, 1990.</p>
                <p><a id="D">&nbsp;</a></p>
                <p><strong>D</strong></p>
                <p>Dalli, Regoli G. “Una Tipologia Insolita: Un Rotolo Miniato Contenente I Salmi Pentenziali.” In <i>La Miniatura Italiana Tra Gotico E Rinascimento: Atti Del II Congresso Di Storia Della Miniatura Italiana, Cortona 24-26 Settembre 1982</i>, edited by Emanuela Sesti, 6:297–308. Storia Della Miniatura, 1985.</p>
                <p>Daly, Lloyd W. “‘Rotulus Beratinus’, a Greek Liturgy Roll.” <i>Greek, Roman and Byzantine Studies</i> 13, no. 1 (Spring 1972).</p>
                <p>Davis, Lisa Fagin. <i>The First and Second Recensions of the Chronique Anonyme Universelle: Houghton MS Typ 41 and MS Fr 49</i>. Cambridge, MA: Harvard University, 2009.</p>
                <p>Davis, Lisa Fagin. <i>La Chronique Anonyme Universelle Jusqu’a La Mort de Charles VII</i>. Turnhout: Brepols, 2010.</p>
                <p>Davis, Lisa Fagin. “Scrolling through History: La Chronique Universelle, Boston Public Library MS Pb. Med. 32.” In <i>Secular Sacred: 11th-16th Century Works from the Boston Public Library and the Museum of Fine Arts, Boston</i>, edited by Nancy Netzer, 43–47. Chestnut Hill, MA: McMullen Museum of Art, Boston College, 2006.</p>
                <p>Davis, Norman. <i>Non-Cycle Plays and Fragments.</i> London: New York: Oxford University Press, 1970.</p>
                <p>De la Mare, Albinia Catherine. <i>Catalogue of the Collection of Medieval Manuscripts Bequeathed to the Bodleian Library, Oxford by James P. R. Lyell</i>. Oxford: Clarendon P., 1971.</p>
                <p>de Lincy, Le Roux, and Victor, Antoine Jean. “La bibliothèque de Charles d’ Orléans à son château de Blois.” <i>Bibliothèque de l’École des chartes</i> 5 (1843): 59–82.</p>
                <p>Dean, Ruth J.<i> Anglo-Norman Literature: A Guide to Texts and Manuscripts.</i> London: Anglo-Norman Text Society from Birkbeck College, 1999.</p>
                <p>Delerce, Arnaud.<i> Une Abbaye de Montagne, Sainte-Marie d’Aulps. Son Histoire et Son Domaine Par Ses Archives</i>. Documents d’histoire Savoyarde 4. Thonon: Académie chablaisienne, 2011.</p>
                <p>Deissmann, Adolf, and Hans Wegener, eds. <i>Die Armenbibel des Serai: Rotulus Seragliensis NR. 52</i>. Berlin: Walter de Gruyter, 1934.</p>
                <p>Delisle, Léopold. “Des Monuments Paléographiques Concernant L’usage de Prier Pour Les Morts,” 8:361–411. Bibliothèque de l’École Des Chartres 2, 1846.</p>
                <p>Delisle, Léopold. <i>Rouleau Mortuaire Du B. Vital, Abbé de Savigni, Contenant 207 Titres Écrits En 1122-1123 Dans Différentes Église de France et d’Angleterre; Édition Phototypique Avec Introduction</i>. Paris: Phototypie Berthaud frères, 1909.</p>
                <p>Delisle, Léopold. <i>Rouleaux Des Morts Du IXe Au XVe Siècle</i>. Vol. 135. Société de L’histoire de France. Publications in Octavo. Paris: Mme. Ve. J. Renouard, 1866.</p>
                <p>Delisle, Léopold. “Supplément À La Liste Des Rouleaux Mortuaires Publiés Ou Cités Dans Le Recueil Imprimé En 1866 Pour La Société Pour l’Histoire de France.” In <i>Rouleau Mortuaire Du B. Vital, Abbé de Savigni, Contenant 207 Titres Écrits En 1122-1123 dans Différentes Église de France et d’Angleterre; Édition Phototypique Avec Introduction</i>, 25–37. Paris: Phototypie Berthaud frères, 1909.</p>
                <p>Dell’Oro, Ferdinando. “Frammento Di Rotolo Pontificale Del Secolo XI (Asti, Bibl. Capit., Cod. XIII).” <i>Studia Anselmiana</i> 95 (1988): 177–204.</p>
                <p>Dennison, Lynda. <i>An Index of Images in English Manuscripts from the Time of Chaucer to Henry VIII, C. 1380-C. 1509</i>. Turnhout: Harvey Miller Publishers, 2000.</p>
                <p>Denny-Brown, Andrea, and Lisa H Cooper, eds. <i>The Arma Christi in Medieval and Early Modern Material Culture: With a Critical Edition of “O Vernicle.”</i> Ashgate Publishing Company, 2014.</p>
                <p>De Ricci, Seymour, and W.J. Wilson. <i>Census of Medieval and Renaissance Manuscripts in the United States and Canada</i>. Vol. II. New York: H. W. Wilson, 1937.</p>
                <p>Devisse, Jean. <i>The Image of the Black in Western Art</i>. Vol. 2. Belknap Press, 2010.</p>
                <p>Devreesse, Robert. <i>Les Manuscrits Grecs de l’Italie Méridionale: Histoire, Classement, Paléographie</i>. Modena: Foto Lito Dini, 1979.</p>
                <p>Diözesan-Museum Hildesheim. <i>Bernward von Hildesheim Und Das Zeitalter Der Ottonen</i>. Vol. 2. Mainz am Rhein: Roemer- und Pelizaaeus-Museum, 1993.</p>
                <p>Dittmer, Luther A. “An English Discantuum Volumen.” <i>Musica Disciplina </i>8 (1954): 19–58.</p>
                <p>Donati, Lamberto, and Luigi Michelini Tocci. <i>Biblia Pauperum: Riproduzione Del Codice Palatino Latino 143</i>. Vol. 4. Codices E Vaticanis Selecti. Series Minor. Città del Vaticano: Biblioteca apostolica vaticana, 1979.</p>
                <p>Donnet, André. “Inventaire de La Bibliothèque Supersaxo.” <i>Vallesia</i> 29 (1974): 33–106.</p>
                <p>Drimmer, Sonja. “Beyond Private Matter: A Prayer Roll for Queen Margaret of Anjou.” <i>Gesta </i>53, no. 1 (2014): 95–120.</p>
                <p>Droz, E. “Un Manuscrit de Guillaume de Machault.” <i>Revue de Musicologie</i> 8 (1927): 44.</p>
                <p>Du Cange, Charles Du Fresne, sieur, 1610-1688. <i>Glossarium Mediae et Infimae Latinitatis</i>. 10 vols. Paris: Firmin Didot, 1840.</p>
                <p>Dufour, Jean. <i>Les Rouleaux Des Morts</i>. Vol. 1. Monumenta Palaeographica Medii Aevi. Series Gallica. Turnhout: Brepols, 2009.</p>
                <p>Duggan, Lawrence G. “Was Art Really the ‘book of the Illiterate’?.” <i>Word &amp; Image</i> 5, no. 3 (1989): 227–51.</p>
                <p><a id="E">&nbsp;</a></p>
                <p><strong>E</strong></p>
                <p>Earp, Lawrence. <i>Guillaume de Machaut: A Guide to Research</i>. London: Routledge, 1996.</p>
                <p>Edsall, Mary Agnes. “Arma Christi Rolls or Textual Amulets?: The Narrow Roll Format Manuscripts of ‘O Vernicle.’” <i>Magic,Ritual, and Witchcraft</i> 9, no. 2 (2014): 178–209.</p>
                <p>Evans, Helen C., and William D. Wixom, eds. <i>The Glory of Byzantium: Art and Culture of the Middle Byzantine Era, A.D. 843-1261</i>. New York: Metropolitan Museum of Art, 1997.</p>
                <p><a id="F">&nbsp;</a></p>
                <p><strong>F</strong></p>
                <p>Fenlon, Iain. , ed. <i>Cambridge Music Manuscripts, 900-1700</i>. Cambridge: Cambridge University Press, 1982.</p>
                <p>Ferrari, Mirella, and Richard Rouse. <i>Finding Aid for the Medieval and Renaissance Manuscripts Collection – Library Special Collections, Ca. 1198-1616</i>. Los Angeles, CA: University of California Press, 1991.</p>
                <p>Flett, Alison R., Margaret M. Manion, and Bernard James Muir, eds. “The Significance of Text Scrolls: Towards a Descriptive Terminology.” In <i>Medieval Texts and Images: Studies of Manuscripts from the Middle Ages</i>, 43–56. Philadelphia: Harwood Academic Publishers, 1991.</p>
                <p>Foerster, Hans. <i>Abruss Der Lateinischen Paläographie</i>. 2nd ed. Stuggart: Anton Hiersmann, 1963.</p>
                <p>Fossier, François. “Chroniques Universelles En Forme de Rouleau À La Fin Du Moyen Age.” <i>Bulletin de La Société Nationale Des Antiquaires de France</i>, 1980, 171.</p>
                <p>Franchi de’ Cavalieri, Pius. <i>Codices Graeci Chisiani et Borgiani. Bibliothecae Apostolicae Vaticanae Codices Manu Scripti Recensiti.</i> Rome: Typis Polyglottis Vaticanis, 1927.</p>
                <p>Franchi de’ Cavalieri, Pius, and Johann Lietzmann. <i>Specimina Codicum Graecum Vaticanorum</i>. Berlin and Leipzig: Walter de Gruyber, 1929.</p>
                <p><a id="G">&nbsp;</a></p>
                <p><strong>G</strong></p>
                <p>Gaborit-Chopin, Danielle. <i>L’art Au Temps Des Rois Maudits: Philippe Le Bel et Ses Fils, 1285-1328, Exposition À Paris, Galeries Nationales Du Grand Palais.</i> Paris: RMN, 1998.</p>
                <p>Gagnebin, François. “Français et Savoyards Dans Trois Obituaires Conservés À La Bibliothèque de Genève.” In <i>Bulletin Philologique et Historique (jusqu’à 1610), Année 1960, 1:451–60</i>. Paris: Imprimerie nationale, 1961.</p>
                <p>Gardthausen, Viktor. <i>Das Buchwesen in Altertum Und Um Byzantinischen Muttelalter</i>. 2nd ed. 2 vols. Leipzig: Veit and Company, 1913.</p>
                <p>Gancarczyk, Paweł. “Abbot Martin Rinkenberg and the Origins of the ‘Glogauer Liederbuch.’” <i>Early Music</i> 37, no. 1 (February 1, 2009): 27–36.</p>
                <p>Gatfield, George. <i>Guide to Printed Books and Manuscripts Relating to English and Foreign Heraldry and Genealogy Being a Classified Catalogue of Works of Those Branches of Literature</i>. London: Mitchell and Hughes, 1892.</p>
                <p>Gautier, Marc-Edouard. <i>Mille Ans D’histoire de L’arbre Généalogique En France</i>. Rennes: Editions Ouest-France, 2008.</p>
                <p>Genicot, Léopold, ed. <i>Typologie Des Sources Du Moyen Age Occidental</i>. Turnhout, Belgium: Brepols, 1972.</p>
                <p>Gennadius. “Liber de Viris Inlustribus.” In <i>Hieronymus Liber de Viris Inlustribus</i>, edited by Ernest Cushing Richardson. Leipzig: Hinrichs, 1896.</p>
                <p>Gibson, Margaret, and Martin Kauffman, eds. <i>Medieval Manuscripts on Merseyside: Catalogue of an Eshibition Held in the University Art Gallery, Liverpool, from 6 May to 16 July 1993, and in the Courtauld Institute Galleries, Londin, from 15 October to 28 November 1993</i>. Liverpool: University of Liverpool Center for Medival Studies, 1993.</p>
                <p>Goldschmidt, E.P. “An Obituary Rotulus from York, 1405.” In <i>Studies in Art and Literature</i>, edited by Miner, 379–83, 331, n.d.</p>
                <p>Gottlieb, Theodor. <i>Mittelalterliche Bibliothekskatologe Österreichs, Vol:1 Niederösterreich</i>. Vol. 1. Vienna: Adolf Holzhausen, 1915.</p>
                <p>Grabar, André. <i>Les Manuscrits Grecs Enluminés de Provenance Italienne, IXe-XIe Siècles</i>. Bibliothèque Des Cahiers Archéologiques 8. Paris: Klincksieck, 1972.</p>
                <p>Greenstreet, James. “The Original Camden Roll of Arms.” In <i>The Journal of the British Archaeological Association</i>, Vol. 38. London: British Archaeological Association., 1882, 309–28.</p>
                <p>Greenway, Diana, Christopher Holdsworth, and Jane Sayers, eds. <i>Tradition and Change: Essays in Honour of Marjorie Chibnall Presented by Her Friends on the Occasion of Her Seventieth Birthday</i>. Cambridge: Cambridge University Press, 2002.</p>
                <p>Gribbin, Joseph A. <i>The Premonstratensian Order in Late Medieval England</i>. Woodbridge, Suffolk: The Boydell Press, 2001.</p>
                <p>Grönwoldt, Ruth. “A Florentine Fourteenth Century Orphrey in the Toledo Museum of Art.” <i>Apollo</i> 89, no. 87 (May 1969): 350–55.</p>
                <p>Guillaume, Abbé.<i> Mystère de Saint Eustache Joué En 1504</i>. Montpellier, 1891.</p>
                <p>Gyug, Richard F. “A Fragment of a Liturgical Roll at Montecassino (Compactiones XVI).” <i>Mediaeval Studies</i> 52, no. 1 (1990): 268–77.</p>
                <p><a id="H">&nbsp;</a></p>
                <p><strong>H</strong></p>
                <p>Hagen, Hermann. <i>Catalogus codicum bernensium (Bibliotheca Bongarsiana)</i>. Bern: Haller, 1875.</p>
                <p>Hanford, J., “Sixteenth-century Scroll of alchemical emblems,” <i>Princeton University Library Chronicle</i> XIX (1958) 201-202.</p>
                <p>Hardwick, Charles, and Henry Richards Luard. <i>A Catalogue of the Manuscripts Preserved in the Library of the University of Cambridge</i>. Studies of the University Press. London: Hamilton, Adams, and Co., 1856.</p>
                <p>Harrison, Julian. “The Mortuary Roll of Turgot of Durham (d. 1115).” <i>Scriptorium: Revue Internationale Des Études Relatives Aux Manuscrits</i> 58 (2004): 18–20.</p>
                <p>Hauke, Hermann. <i>Katalog Der Lateinischen Fragmente Der Bayerischen Staatsbibliothek München</i>. Vol. 2. Wiesbaden: Harrossowitz, 2001.</p>
                <p>Heiming, Odilo, ed. <i>Corpus Ambrosiano-Liturgicum</i>. Liturgiewissenschaftliche Quellen Und Forschungen 49. Münster Westfalen: Aschendorff, 1968.</p>
                <p>Hemmerle, Josef. <i>Die Benediktinerabtei Benediktbeuern. Vol. Neue Folge 28.</i> Germania Sacra. Berlin: Walter de Gruyber, 1991.</p>
                <p>Hermann, Julius. “Die Frühmittelalterlichen Handschriften Des Abendlandes. Beschreibendes Verzeichmis Der Illuminierten Handschriften in Österreich, 8.” In <i>Neue Folge: Die Illuminierten Handschriften Und Inkunablen Der Nationalbibliothek in Wien</i>, Vol. 1. Leipzig: Karl W. Hiersman, 1923.</p>
                <p>Hermann, Julius. <i>Die Handschriften und Inkunabeln der italienischen Renaissance</i>. Vol. 8. Beschreibendes Verzeichnis der illuminierten Handschriften in Österreich 6. Leipzig: Karl W. Hiersemann, 1930.</p>
                <p>Heyd, Wilhelm. <i>Die Historischen Handschriften Der Königlich Öffentlichen Bibliothek Zu Stuttgart</i>. 2 vols. Stuttgart, 1889.</p>
                <p>Hieatt, Constance B., and Sharon Butler, eds. <i>Curye on Inglysch: English Culinary Manuscripts of the Fourteenth Century</i>. Oxford: Oxford University Press, 2013.</p>
                <p>Hilpert, Hans-Eberhard. “Geistliche Bildung Und Laienbildung: Zur Uberlieferung Der Schulschrift, Compendium Historiae in Genealogia Christi (Compendium Veteris Testamenti) Des Petrus von Poitiers (d. 1205) in England.” <i>Journal of Medieval History</i> 11 (1985): 315–31.</p>
                <p>Hohler, Christopher. “Reflections on Some Manuscripts Containing 13th Century Polyphony.” <i>Journal of Plainsong and Medieval Music Society</i> 1 (1978): 2–38.</p>
                <p>Holdsworth, Christopher. “Bernard as a Father Abbot.” In <i>A Companion to Bernard of Clairvaux</i>, edited by Brian Patrick McGuire, 169–219. Brill’s Companions to the Christian Tradition. Leiden: Brill, 2011.</p>
                <p>Holladay, Joan A. “Charting the Past: Visual Configurations of Myth and History and the English Claim to Scotland.” In <i>Representing History 900-1300: Art, Music, History</i>, edited by Robert Allan Maxwell, 115–32. University Park, PA: Pennsylvania State University Press, 2010.</p>
                <p>Holmes, G.A. “Judgement on the Younger Despenser, 1326.” <i>English Historical Review</i> 70 (1955): 264–67.</p>
                <p>Hoppin, Richard H. “A Musical Rotulus of the Fourteenth Century.” <i>Revue Belge de Musicologie</i> 9 (1955): 131.</p>
                <p>Hoppin, Richard H. “Some Remarks a Propos of Pic.” <i>Revue Belge de Musicologie</i> 10 (1956): 105–11.</p>
                <p>Hourlier, Jacques. “Remarques sur la notation clunisienne.” <i>Revue Grégorienne</i>, no. 30 (1951): 231–40.</p>
                <p>Huglodt, E.P. “An Obituary Rotulus from York, 1405.” In <i>Studies in Art and Literature for Belle Da Costa Greene</i>, edited by Dorothy Miner, 379–83, pl. 331. Princeton: Princeton University Press, 1954.</p>
                <p>Huglo, Michel. “Codicologie et Musicologie.” In <i>Miscellanea Codicologica F. Masai Dicata MCMLXXIX</i>, edited by Pierre Cockshaw, Monique-Cécile Garand, and Pierre Jodogne, 71–82, pl. 9–10. Les Publications de Scriptorium 8. Gand: E. Story-Scientia, 1979.</p>
                <p>Huglo, Michel, Luigi Agustoni, Eugène Cardine, and Ernesto Moneta Caglio. <i>Fonti E Paleografia Del Canto Ambrosiano</i>. Archivio Ambrosiano 7. Milan: n.p., 1956.</p>
                <p>Hunger, Herbert. “Antikes Mittelalterliches Buch- Und Schriftwesen.” In <i>Geschichte Der Texüberlieferung</i>, 1:25–147. Zurich: Atlantis-Verlag, 1961.</p>
                <p>Hunger, Herbert. <i>Katalog der griechischen Handschriften der Österreichischen Nationalbibliothek</i>. Edited by Nationalbibliothek Österreichische. Biblos-Schriften 15. Wien: Verlag Notring der wissenschaftlichen Verbände Österr, 1957.</p>
                <p>Hunger, Herbert. <i>Katalog Der Griechischen Handschriften Der Österreichischen Nationalbibliothek. Supplementum Graecum</i>. Biblos-Schriften 15. Wien: Verlag Notring der wissenschaftlichen Verbände Österreichs, 1957.</p>
                <p>Hunt, Arthur S., ed. <i>The Oxyrhynchus Papyri</i>. Vol. 17. London: Egypt Exploration Society, 1927.</p>
                <p>Hunt, Richard William. <i>A Summary Catalogue of Western Manuscripts in the Bodleian Library at Oxford Which Have Not Hitherto Been Catalogued in the Quarto Series: With References to the Oriental and Other Manuscripts</i>. Oxford: Clarendon Press, 1895.</p>
                <p>Huyghebaert, N. <i>Les Documents Nécrologiques</i>. Typologie Des Sources Du Moyen Âge Occidental 4. Turnhout, Belgium: Brepols, 1972.</p>
                <p><a id="I">&nbsp;</a></p>
                <p><strong>I</strong></p>
                <p>Iosa, Antionio Maria. <i>I Codici Manoscritti Della Biblioteca Antoniana Di Padova</i>. Padova: Tipgrafia del Seminario, 1886.</p>
                <p><a id="J">&nbsp;</a></p>
                <p><strong>J</strong></p>
                <p>Jacopi, Giolio. “Le miniature dei codici di Patmo.” <i>Clara Rhodos</i> 6–7 (March 1932): 567–91, fig. 23 pg. 161.</p>
                <p>James, Montague Rhodes. <i>A Descriptive Catalogue of the Latin Manuscripts in the John Rylands Library at Manchester</i>. Munich, 1980.</p>
                <p>James, Montague Rhodes. <i>A Descriptive Catalogue of the Manuscripts in the Library of Corpus Christi College, Cambridge</i>. Cambridge: Cambridge University Press, 1912.</p>
                <p>James, Montague Rhodes. <i>The Western Manuscripts in the Library of Emmanuel College</i>. Cambridge: Cambridge University Press, 1904.</p>
                <p>Jansen, Katherine L., Joanna Drell, and Frances Andrews. <i>Medieval Italy: Texts in Translation</i>. University of Pennsylvania Press, 2011.</p>
                <p>Johanek, Peter. “Studien Zur Überlieferung Der Konstitutionen Des II. Konzils von Lyon (1274).” <i>Zeitschrift Der Savigny-Stiftung Für Rechtsgeschichte, Kanonistische Abteilung</i> 65 (1979): 149–216.</p>
                <p>Jones, Chris. “The Canterbury Roll.” In <i>Treasures of the University of Canterbury</i>, edited by Chris Jones, Bronwyn Matthews, and Jennifer Clement, 85–90. Christchurch: Canterbury University Press, 2011.</p>
                <p>Jungent, Esuardo. “Le Rouleau Funéraire d’Oliba, Abbé de Notre-Dane de Ripoll et de Saint-Michel de Cuixa, Évêque de Vich.” <i>Annales Du Midi</i>, no. 63 (1951): 249–63.</p>
                <p><a id="K">&nbsp;</a></p>
                <p><strong>K</strong></p>
                <p>Kanter, Laurence B., and Pia Palladino. <i>Fra Angelico</i>. New York: Metropolitan Museum of Art, 2005.</p>
                <p>Kavrus-Hoffmann, Nadezhda. “Catalogue of Greek Medieval and Renaissance Manuscripts in the Collections of the United States of America, Part V.3: Harvard University, The Houghton Library, and Andover-Harvard Theological Library.” <i>Manuscripta</i> 55, no. 1 (2011): 1–108.</p>
                <p>Kehr, Paul Fridolin. <i>Italia Pontificia</i>. Vol. 2. Regesta Pontificium Romanorum. Berlin: Weidmann, 1907.</p>
                <p>Kehr, Paul Fridolin, and Church Catholic. <i>Italia Pontificia, Sive, Repertorium Privilegiorum et Litterarum a Romanis Pontificibus Ante Annum MCLXXXXVIII. Italiae Ecclesiis, Monasteriis, Civitatibus Singulisque Personis Concessorum</i>. Regesta Pontificum Romanorum. Berlin: Apud Weidmannos, 1907.</p>
                <p>Kelly, Thomas Forrest. <i>The Exultet in Southern Italy</i>. New York: Oxford University Press, 1996.</p>
                <p>Kelly, Thomas Forrest. “The Liturgical Rotulus at Benevento.” In <i>Laborare Fratres in Unum. Festschrift László Dobsay Zum 60. Geburtstag</i>, edited by Janka Szendrei, David Hiley, and Spolia Berolinesia, 7:167–86. Berlin: Weidmann, 1995.</p>
                <p>Ker, N.R. <i>Medieval Manuscripts in British Libraries</i>. Vol. I. Oxford: Clarendon, 1969.</p>
                <p>Kessler, Herbert L. “Pictorial Narrative and Church Mission in Sixth-Century Gaul.” In <i>Pictorial Narrative in Antiquity and the Middle Ages</i>, edited by Herbert L. Kessler and Marianna Shreve Simpson, 16:75–91. Studies in the History of Art, Symposium Series 4. Washington: National Gallery of Art, 1985.</p>
                <p>Klemm, Elisabeth. “Ein Illustriertes Reliquienverzeichnes in Der BSB. Beitrag Zur Pasauer Buchmalerei Des 14 Jahrhundersts.” In <i>Diversarum Artium Studia: Beiträge Zu Kunstwissenschaft</i>, edited by Heinz Roosen-Runge, Helmut Engelhart, and Gerda Kempter, 75–104. Wiesbaden: Reichert, 1982.</p>
                <p>Kössinger, Norbert. “Gerollte Schrift: Mittelalterliche Texte Auf Rotuli.” In <i>Schriftträger – Textträger</i>, edited by Annette Kehnel and Diamantis Panagiotopoulos, 151–68, 2015.</p>
                <p>Krochalis, J. “God and Mammon: Prayers and Rents in Princeton MS. 126.” <i>The Princeton University Library Chronicle</i> 44 (1983): 209–21.</p>
                <p>Kruse, Petra.<i> Hochrenaissance Im Vatikan 1503 – 1534</i>. Kunst Und Kultur Im Rom Der Päpste I. Bonn: Hatje Cantz Verlag, 1999.</p>
                <p>Kudorfer, Dieter. <i>Katalog Der Lateinischen Handschriften Der Bayerischen Staatsbibliothek München: Clm 28461-28615</i>. Wiesbaden: Harrossowitz, 1991.</p>
                <p>Kügle, Karl. “Two Abbots and a Rotulus: New Light on Brussels 19606.” In <i>Quomodo Cantabimus Canticum? Studies in Honor of Edward H. Roesner</i>, edited by D.B. Cannata, G. Ilnitchi Currie, R.C. Mueller, and J.L. Nádas, 145–85. Middleton, WI: American Institute of Musicology, 2008.</p>
                <p>Kügle, Karl, Eugeen Schreurs, and David Fallows. “Fourteenth- and Fifteenth-Century Musical Fragments in Tongeren.” In <i>Musicology and Archival Research</i>, edited by Barbara Haggh, Frank Daelemans, and Andre Vanrie. Brussels, 1994.</p>
                <p><a id="L">&nbsp;</a></p>
                <p><strong>L</strong></p>
                <p>De Laborderie, Olivier. “Les Généalogies Des Rois d’Angleterre Sur Rouleaux Manuscrits (milieu XIIIe-Début 15e S.” In<i> La Généalogie Entre Science et Passion, 181–99</i>. Paris: Editions du CTHS, 1997.</p>
                <p>Lagpakh, G. <i>Cristiaikh Arcaiologikh Etaira. Deltion Ston Periecon Tas Ergastias Tns etaireiaV</i>. Aqhnai: Tup. twn katasthmatwn SpuridwnoV Kousoulinun, 1906.</p>
                <p>Lalou, Elizabeth. “Les Rolets de Théâtre: Étude Codicologique.” In <i>Actes Du 115e Congrès National Des Sociétés Savantes, Avignon, 1990</i>, 51–71. Paris: Editions du CTHS, 1991.</p>
                <p>Lambros, Spyridon. <i>Catalogue of the Greek Manuscripts on Mount Athos</i>. 2 vols. Amsterdam: Adolf M. Hakkert, 1996.</p>
                <p>Laporte, J. “Une variété de Rouleaux des Morts monastiques. Le testament de saint Ansegise (833).” <i>Revue Mabillon</i> 42 (1952): 45–55.</p>
                <p><i>L’Art Byzantin, Art Européen.</i> 2. éd. Athènes: Palais du Zappeion, 1964.</p>
                <p>Leclerq, Jean. “Un Nouveau Manuscrit d’Hautmont.” <i>Scriptorium</i> 9 (1955): 107–9.</p>
                <p>Leroquias, Victor. <i>Les Pontificaux Manuscrits Des Bibliothèques Publiques de France</i>. Vol. 2. Paris: Macon, 1937.</p>
                <p>Levi, A. M. <i>Tabula Peutingeriana: Codex Vindobonesis 324: Volls. Faks.-Ausg. Im Originalformatx Vindobonesis 324: Vollst. Faks.-Ausg. Im Originalformat.</i> Graz: Akadem Druck-u. Verlagsanst., 1976.</p>
                <p>Lierheimer, Bernard Maria. “Eine Alte Rotula.” <i>Studien Und Mittheilungen Aus Dem Benedictiner-Orden</i> 2 (1881): 111–15.</p>
                <p>Lobrichon, Guy. “Le Bibbie Ad Immagini Secoli XII-XV.” In <i>Forme E Modelli Della Tradizione Manoscritta Della Bibbia: A Cura Di Paolo Cherubini</i>, 423–58. Littera Antiqua 13. Città del Vaticano: Scuola Vaticana di Paleografia, Diplomatica e Archivistica, 2005.</p>
                <p>Lomnitzer, Helmut. “Ein Texfund Zur Frankfurter Dirigierrolle.” In <i>Deutsche Handschriften 1100-1400: Oxforder Kolloquium 1985</i>, edited by Volker Honemann and Nigel F. Palmer, 590–608. Tübingen: M. Niemeyer, 1988.</p>
                <p>London, H. S. <i>Rolls of Arms of Henry III</i>. Aspilogia, III. London: Society of Antiquaries, 1957.</p>
                <p>Lowden, John. “Luxury and Liturgy: The Function of Books.” In <i>Church and People in Byzantium</i>, edited by Rosemary Morris, 263–80. Birmingham, England: University of Birmingham, 1986.</p>
                <p>Lowe, E. A. <i>Codices Latini Antiquiores: a Palaeographical Guide to Latin Manuscripts prior to the Ninth Century</i>. Oxford: Clarendon Press, 1971.</p>
                <p>Lowe, Elias Avery. <i>The Beneventan Script: A History of the South Italian Minuscule</i>. Edited by Virginia Brown. Sussidi Eruditi 34. Rome: Ed. di Storia e Letteratura, 1980.</p>
                <p><a id="M">&nbsp;</a></p>
                <p><strong>M</strong></p>
                <p>Mancini, Augusto. <i>Codices graeci: monasterii Messanensis S. Salvatoris</i>. Messanae: Typis d’Amico, 1907.</p>
                <p>Marks, Richard, and Paul Williamson. <i>Gothic: Art for England 1400-1547</i>. London: V&amp;A, 2003.</p>
                <p>Martini, Emidio, and Domenico Bassi. <i>Catalogus codicum graecorum Bibliothecae Ambrosianae</i>. 2 vols. Mediolani: U. Hoepli, 1906.</p>
                <p>Masai, François, Pierre Cockshaw, Monique-Cécile Garand, and Pierre Jodogne, eds. <i>Miscellanea codicologica F. Masai: dicata MCMLXXIX</i>. Vol. 8. Les publications de Scriptorium. Gand: E. Story-Scientia S.P.R.L, 1979.</p>
                <p>Maitilasso, Mario. <i>Gli Exultet Di Troja: Un Patrimonio Di Storia, Di Fede E D’arte</i>. Claudio Grenzi Editore, 2012.</p>
                <p>Marks, Richard, and Paul Williamson. <i>Gothic: Art for England 1400-1547</i>. London: V&amp;A, 2003.</p>
                <p>Martimort, A. G. “Répertoires Des Livres Liturgiques Du Languedoc, Antérieurs Au Concile de Trente.” In Liturgie et Musique (IXe–XIVe S.), 51–80. <i>Cahiers de Fanjeaux</i> 17. Toulouse: Edouard Privat, 1982, p. 65.</p>
                <p>Maxwell, J. “La Farce de Thévot Le Maire, Perruche et Colin.” <i>Humanisme et Renaussance</i> 6 (1939): 539–46.</p>
                <p>Mayo, Penelope C. “Vasa Sacra: Apostolic Authority and Episcopal Prestige in the Eleventh-Century Bari Benedictional.” <i>Dumbarton Oaks Papers</i> 41 (1987): 375.</p>
                <p>Mayo, Penelope C. “Vasa Sacra: Apostolic Authority and Episcopal Prestige in the Eleventh-Century Bari Benedictional.” <i>Dumbarton Oaks Papers</i> 41 (1987): 375–89.</p>
                <p>McCallum, R. Ian. “Alchemical Scrolls Associated with George Ripley.” In <i>Mystical Metal of Gold</i>, edited by Stanton J. Linden, 161–88. New York: AMS Press, 2007.</p>
                <p>McCallum, R. Ian. “The Ripley Scroll of the Royal College of Physicians of Edinburgh.” <i>Vesalius</i> 2 (1996): 39–49.</p>
                <p>McCarren, Vincent P., and Douglas Moffat. <i>A Guide to Editing Middle English</i>. Ann Arbor: The University of Michigan Press, 1998, 330-331</p>
                <p>McCormick, Michael. <i>Charlemagne’s Survey of the Holy Land: Wealth, Personnel, and Buildings of a Mediterranean Church between Antiquity and the Middle Ages: With a Critical Edition and Translation of the Original Text</i>. Dumbarton Oaks Medieval Humanities. Washington: Dumbarton Oaks, 2011.</p>
                <p>McCown, C. C. “Codex and Roll in the New Testament.” <i>The Harvard Theological Review</i> 34, no. 4 (October 1, 1941): 219–49.</p>
                <p>McGlynn, Sean, and Elena Woodacre, eds. <i>The Image and Perception of Monarchy in Medieval and Early Modern Europe</i>. Newcastle: Cambridge Scholars Publishing, 2014.</p>
                <p>McGuire, Brian Patrick. “Bernard’s Concept of a Cistercian Order: Vocabulary and Context.” <i>Cîteaux Commentarii Cistercienses</i> 54 (2003): 225–49.</p>
                <p>McGuire, Brian Patrick. “Bernard’s Life and Works: A Review.” In <i>A Companion to Bernard of Clairvaux</i>, edited by Brian Patrick McGuire, 18–61. Brill’s Companions to the Christian Tradition. Leiden: Brill, 2011.</p>
                <p>McKendrick, Scott, John Lowden, Kathleen Doyle, Joanna Frońska, and Deirdre Elizabeth Jackson. <i>Royal Manuscripts: The Genius of Illumination</i>. London: British Library, 2011.</p>
                <p>Mercati, Giovanni. <i>Antiche reliquie liturgiche ambrosiane e romane: con un excursus sui frammenti dogmatici ariani del Mai</i>. Studi e testi 7. Roma: Tipografia Vaticana, 1902.</p>
                <p>Merz, Walther, and Friedrich Hermann Hegi, eds. <i>Die Wappenrolle von Zürich. Ein Heraldisches Denkmal Des Vierzehnten Jahrhunderts in Getreuer Farbiger Nachbildung Des Originals</i>. Zürich, Leipzig: Orell Füssli, 1930.</p>
                <p>Meyier, K. A. de. <i>Codices Vossiani Graeci et Miscellanei</i>. Vol. 6. Codices Manuscripti. Lugduni Batavorum: Bibliotheca Universitatis, 1955.</p>
                <p>Michelet, Jules, ed. <i>Procès Des Templiers</i>. 2 vols. Collection de Documents Inédits Sur L’histoire de France. 1. Ser., Histoire Politique. Paris: Imprerie Royale, 1841.</p>
                <p>Migne, Jacques-Paul. <i>Patrologiae Cursus Completus</i>. 221 vols. Series Latina. Paris: J.-P. Migne, 1878.</p>
                <p>Mohlberg, Cunibert. <i>Katalog Der Handschriften Der Zentralbibliothek Zürich I. Mittelalterliche Handschriften.</i> Zürich: Buchdruckerei Berichthaus, 1952.</p>
                <p>Molinier, Auguste. <i>Les Obituaires Français Au Moyen Âge</i>. Paris: Imprimerie nationale, 1890.</p>
                <p>Monroe, William H. “A Roll Manuscript of Peter of Poitiers’ Compendium.” <i>The Bulletin of the Cleveland Museum of Art</i>, no. 65 (1978): 92–107.</p>
                <p>Monroe, William Hampton. “13th and Early 14th Century Illustrated Genealogical Manuscripts in Roll and Codex: Peter of Poitiers’ ‘Compendium’, Universal Histories and Chronicles of the Kings of England.” Doctoral thesis, Courtauld Institute, University of London, 1990.</p>
                <p><i>Monumenta Germaniae Historica. Epistolarum Tomus III (Epistolae Merowingici et Karolini Aevi Tomus I)</i>. Berlin: Weidmann, 1892.</p>
                <p>Moorat, S.A.J. <i>Catalogue of Western Manuscripts on Medicine and Science in the Wellcome Historical Medical Library. I. MSS. Written before 1650 A. D.</i> London: The Wellcome Historical Medical Library, 1962.</p>
                <p>Moore, Philip S. <i>The Works of Peter of Poitiers, Master in Theology and Chancellor of Paris (1193-1205).</i> Notre Dame, IN: The University of Notre Dame, 1936.</p>
                <p>Mordek, Hubert. <i>Bibliotheca Capitularium Regum Francorum Manuscripta: Uberlieferung Und Traditionszusammenhang Der Frankischen Herrschererlasse.</i> Munich: Monumenta Germaniae Historica, 1995.</p>
                <p>Mordek, Hubert. “Karolingische Kapitularen.” In <i>Überlieferung Und Geltung Normativer Texte Des Frühen Und Hohen Mittelalters: Vier Vorträge, Gehalten Auf Dem 35. Deutschen Historikertag 1984 in Berlin</i>, 25–50. Quellen Und Forschungen Zum Recht Im Mittelalter, Bd. 4. Sigmaringen: J. Thorbecke, 1986.</p>
                <p>Morgan, Nigel. “Early Gothic Manuscripts I (1190-1250); II (1250-1285).” In <i>A Survey of Manuscripts Illuminated in the British Isles</i>, edited by J.J.G. Alexander, Vol. 2. London: Harvey Miller, 1982.</p>
                <p>Morin, Germain. “Le Catalogue Des Manuscrits de L’abbaye de Gorze Au XIe Siècle.” <i>Revue Bénédictine</i>, no. 22 (1905): 1–14.</p>
                <p>Morin, Germain. “Un Fragment Du Rouleau Mortuaire Du Cardinal Bénédictin Milon de Palestrina.” <i>Revue D’histoire Ecclésiastique</i> 4 (1903): 241–46.</p>
                <p>Morin, Germain. “Un Rouleau Mortuaire Des Moniales de Sainte-Marie d’Helfta.” <i>Revue Bénédictine</i>, no. 37 (1925): 100–103.</p>
                <p>Morris, Richard. <i>Legends of the Holy Rood: Symbols of the Passion and Cross-Poems.</i> London: M. Trübner &amp; Co., 1871.</p>
                <p>Morrison, Karl F. <i>History as a Visual Art in the Twelfth-Century Renaissance</i>. Princeton: Princeton University Press, 1990.</p>
                <p>Morse, Mary. “‘Thys Moche More Ys Ours Lady Mary Longe’: Takamiya MS 56 and the English Birth Girdle Tradition.” In <i>Middle English Texts in Transition: A Festschrift Dedicated to Toshiyuki Takamiya on His 70th Birthday</i>, edited by Simon Horobin and Linne Mooney, 199–219. Boydell &amp; Brewer Ltd, 2014.</p>
                <p>Muralt, E. de. <i>Catalogue Des Manuscripts Grecs de La Bibliothèque Umpériale Publique</i>. St. Petersburg: Academy of Sciences, 1864.</p>
                <p><a id="N">&nbsp;</a></p>
                <p><strong>N</strong></p>
                <p>Newton, Francis. <i>The Scriptorium and Library at Monte Cassino, 1058-1105</i>. Cambridge: Cambridge University Press, 1999.</p>
                <p>Nichols, J. G.<i> Archaeological Institute Proceedings</i>: Norwich 1847. Norwich, 1851. pp. 99-114.</p>
                <p>Noonan, Sarah. “Private Reading and the Rolls of the Symbols of the Passion.” <i>The Journal of the Early Book Society for the Study of Manuscripts and Printing History</i> 15 (January 1, 2012).</p>
                <p>Norbye, Marigold. “Genealogies and Dynastic Awareness in the Hundred Years War: The Evidence of A Tous Nobles Qui Aiment Beaux Faits et Bonnes Histoires.” <i>Journal of Medieval History</i> 33 (2007): 297–319.</p>
                <p>Norbye, Marigold. “The King’s Blood: Royal Genealogies, Dynastic Rivalries and Historical Culture in the Hundred Years War: A Case Study of A Tous Nobles Qui Aiment Beaux Faits et Bonnes Histoires.” University of College London, 2004.</p>
                <p><a id="O">&nbsp;</a></p>
                <p><strong>O</strong></p>
                <p>Odilo, Heiming. <i>Corpus Ambrosiano Liturgicum I. Das Sacramentarium Triplex.</i> Vol. 49. Liturgiewissenschaftliche Quellen Und Forschungen. Münster Westfalen: Aschendorff, 1968.</p>
                <p>Omont, Henri. <i>Inventaire Sommaire Des Manuscrits Grecs de La Bibliothèque Nationale</i>. 4 vols. Paris: Alphonse Picard, Ernest Leroux, 1886.</p>
                <p>Omont, Henri. <i>Manuscrits récemment ajoutés au fonds du supplément grec de la Bibliothèque nationale</i>. Paris: Ernest Leroux, 1898.</p>
                <p>Oschinsky, D., ed. <i>Walter of Henley and Other Treatises on Estate Management and Accounting</i>. Oxford, 1971.</p>
                <p><a id="P">&nbsp;</a></p>
                <p><strong>P</strong></p>
                <p>Pächt, Otto. <i>Die Illuminierten Handschriften Und Inkunabeln Der Österreichischen Nationalbibliothek</i>. Vol. 6. Veröffentlichungen Der Kommission Für Schrift- Und Buchwesen Des Mittelalters 1. Vienna: Verlag der Österreichischen Akademie der Wissenschaften, 1974.</p>
                <p>Papadopolous-Kerameos, A. <i>Ierosolumpike Bibliotheke</i>. 5 vols. St. Petersburg, 1891.</p>
                <p>Parkes, M.B. <i>The Medieval Manuscripts of Keble College Oxford</i>. London: Scholar Press, 1979.</p>
                <p>Petzet, Erich, and Otto Glauning. <i>Deutsche Schrifttafeln Aus Papierhandschriften Des XIV. Bis XVI. Jahrhunderts</i>. Leipzig: Karl W. Hiersman, 1930.</p>
                <p>Plummer, John. <i>The Glazier Collection of Illuminated Manuscripts</i>. New York: Pierpont Morgan Library, 1968.</p>
                <p>Polites, Linos. “Συμπληρωματικοι Καταλογοι Χειρογραφων Αγιου ορους.” In <i>Ellhnika Periodikon Suggramma etaireuaV Makedonikwn Spoudwn Pararthma</i>, Vol. 24. Thesaloniki, 1973.</p>
                <p>Pope-Hennessy, John Wyndham. <i>Fra Angelico</i>. London: Phaidon Press, 1952.</p>
                <p>Powitz, Gerhard. <i>Die Datierten Handschriften Der Stadt- Und Universitätsbibliothek Frankfurt Am Main</i>. Datierte Handscriften in Bibliotheken Des Bundesrepubliks Deutschland, Ed. Johann Autenrieth 1. Stuttgart: Anton Hiersmann, 1984.</p>
                <p>Price, Derek J. <i>An Old Palmistry, Being the Earliest Known Book of Palmistry in English. Edited from the Bodleian Ms Digby Roll IV</i>. Cambridge: W. Heffer, 1953.</p>
                <p><a id="R">&nbsp;</a></p>
                <p><strong>R</strong></p>
                <p>Radulescu, Raluca. “The Political Mentality of the English Gentry at the End of the Fifteenth Century.” <i>New Europe College Yearbook</i> 8 (2001 2000): 355–89.</p>
                <p>Raine, James, ed. <i>The Obituary Roll of William Ebchester and John Burnby: Priors of Durham, with Notices of Similar Records Preserved at Durham</i>. Durham, UK: George Andrews, 1856.</p>
                <p>Ranke, Friedrich, ed. <i>Das Osterspiel von Muri, Nach Den Alten Und Neuen Fragmenten Herausgegeben</i>. Aarau: H.R. Sauerlander, 1944.</p>
                <p>Ranke, Friedrich, and Max Wehrli, eds. <i>Das Osterspiel von Muri. Faksimiledruck Der Fragmente Und Rekonstruktion Der Pergamentrolle</i>. Basel: Alkuin-Verlag, 1967.</p>
                <p>Rasmussen, Niels Krogh. <i>Les Pontificaux Du Haut Moyen Âge. Genèse Du Livre de L’évèque</i>. 3 vols. Paris: Unpubl. diss., Insititut Catholique de Paris, 1977.</p>
                <p>Rasmussen, Niels Krogh. “Unité et diversité des pontificaux latins au VIIIe, IXe et Xe siècles.” In <i>Liturgies de l’église particulière et liturgie de l’église universelle. Conférences Saint-Serge, XXIIe semaine d’études liturgiques, Paris, 30 juin-3 juillet 1975</i>, 393. Biblioteca “Ephemerides liturgicae, subsidia” 7. Rome: Edizioni liturgiche, 1976.</p>
                <p>Rasponi, Alessandro Testi. <i>Codex Pontificalis Eccesiae Ravennatis. Volume Primo (Agnelli Liber Pontificalis)</i>. Rerum Italicarium Scriptores II.3. Bologna: Zanichelli, 1924.</p>
                <p>Recent Aquisitions, A Selection: 2002-2003.” <i>The Metropolitan Museum of Art Bulletin</i> 61, no. 2 (2003).</p>
                <p>Reidemeister, J. <i>Superbia Und Narziß. Personifikation Und Allegorie in Miniaturen Mittelalterlicher Handschriften.</i> Ars Nova 14. Turnhout: Brepols, 2006.</p>
                <p>Revilla, P.A. <i>Catálogo de Los Códices Griegos de La Biblioteca de El Escorial</i>. 3 vols. Madrid: Helénica, 1936.</p>
                <p>Reynolds, Roger E. “Rites and Signs of Conciliar Decisions in the Early Middle Ages.” In <i>Segni E Riti Nella Chiesa Altomedievale Occidentale, 11-17 Aprile 1985</i>, 207–49, pl. 22. Settimane Di Studio Del Centro Italiano Di Studi sull’Alto Medioevo 33. Spoleto: presso la sede del centro, 1987.</p>
                <p>Robbins, R.H. “The ‘Christi’ Rolls.” <i>The Modern Language Review</i>, no. 34 (1939): 415–21.</p>
                <p>Roberts, C.H. <i>Catalogue of the Greek and Latin Papyri in the John Rylands Library, Manchester</i>. Vol. III. Theological and Literary Texts 457-551. Manchester: University Press, 1938.</p>
                <p>Roberts, C.H. “The Codex.” <i>Proceedings of the British Academy</i> 40 (1954): 169–204, pl. 1.</p>
                <p>Roberts, C.H., and T.C. Skeat. <i>The Birth of the Codex</i>. London: Published for the British Academy by Oxford University Pres, 1987.</p>
                <p>Roberts, Jane. “An Inventory of Early Guthlac Materials.” <i>Mediaeval Studies</i> 32 (1970): 193–233.</p>
                <p>Robinson, Chalfant, and Frank Jewett Mather Jr. “Two Manuscript Rolls.” <i>Record of the Museum of Historic Art, Princeton University</i> 5, no. 1 (1946): 6–9.</p>
                <p>Robinson, P. R. <i>Catalogue of Dated and Dateable Manuscripts C. 888-1600 in London Libraries, 1: The Text; 2: The Plates</i>. London: The British Library, 2003.</p>
                <p>Rollason, D.W. <i>England and the Continent in the Tenth Century: Studies in Memory of Wilhelm Levison</i>. Brepols: Turnhout, 2011.</p>
                <p>Rouse, Richard H. “Roll and Codex: The Transmission of the Works of Reinmar von Zweter.” In <i>Paläographie 1981: Colloquium Des Conité International de Paléographie. München, 15.-18. September 1981</i>, edited by Gabriel Silagi, 107–23, XI – XV pl. Münchener Beiträge Zur Mediävistik Und Renaissance-Forschung 32. Munich: Arbeo-Gesellschaft, 1982.</p>
                <p>Rouse, Richard H., and Laura Light. <i>Manuscript Production</i>. Primer 6. New York: Les Enluminures, 2014.</p>
                <p>Rudy, Kathryn M. “Kissing Images, Unfurling Rolls, Measuring Wounds, Sewing Badges and Carrying Talismans: Considering Some Harley Manuscripts through the Physical Rituals They Reveal.” <i>Electronic British Library Journal</i>, 2011.</p>
                <p>Rule, Martin. <i>The Missal of St. Augustine’s Abbey Canterbury</i>. Cambridge: Cambridge University Press, 1896.</p>
                <p>Runge, Heinrich. <i>Die wappenrolle von Zürich. Ein heraldisches denkmal des vierzehnten jahrhunderts</i>. Edited by Gesellschaft in Zürich Antiquarische. Zürich: Selbstverlag der Gesellschaft; druck von D. Bürkli, 1860.</p>
                <p>Runnalls, Graham A. “The Medieval Actor’s Roles found in the Fribourg Archives.” <i>Pluteus</i>, no. 4–5 (1986): 5–67.</p>
                <p>Ruppel, Aloys. <i>Johannes Gutenberg. Sein Legen Und Sein Werk</i>. 2nd ed. Berlin: Gebr. Mann, 1947.</p>
                <p>Ryskamp, Charles, ed. <i>Twenty-First Report to the Fellows of the Pierpont Morgan Library</i>. New York: The Pierpont Morgan Library, 1989.</p>
                <p><a id="S">&nbsp;</a></p>
                <p><strong>S</strong></p>
                <p>Sakkelionos, Ioannos. <i>Patmou Bibliotheke</i>. Athens: Alexander Papageorgios, 1890.</p>
                <p>Samaran, C., ed. “Fragments de Manuscrits Latins et Français Du Moyen Age.” <i>Romania</i> 51 (1925): 199–200.</p>
                <p>Santifaller, Leo. <i>Beiträge Zur Geschichte Der Beschreibstoff Im Mittelalter, Besonderer Berücksichtigung Der Päpstlichen Kanzlei. Erster Teil: Untersuchungen</i>. Vol. 1. Mitteilung Des Instituts Für Österreichische Geschichtsforschung, Ergänzungsband, XVI. Graz-Köln: Hermann Bohlaus, 1953.</p>
                <p>Santifaller, Leo. “Über Späte Papyrusrollen Und Frühe Pergamentrollen.” In <i>Speculum Historiale. Geschichte Im Spiegel von Geschichtsschreibung Und Geschichtsdeutung</i>, edited by Clemens Bauer, Laetitia Boehm, and Max Müller, 117–33. Freiburg/München: Karl Alber, 1965.</p>
                <p>Sauget, Joseph-Marie. “Nouveaux Fragments de Rouleaux Liturgiques Muxantino-Melkite En Syriaque.” <i>Le Muséon</i> 88 (1975): 5–30.</p>
                <p>Sayle, C.E. “The Mortuary Roll of the Abbess of Lillechurch, Kent.” In <i>Proceedings of the Cambridge Antiquarian Society, with Communications Made to the Society</i>, X: 383–409. New Series IV. Cambridge, 1904.</p>
                <p>Scarpatetti, Matthias. <i>Catalogue des manuscrits datés en Suisse en écriture latine du début du Moyen Age jusqu’en 1550</i>. Bern: Urs Graf Verlag, 1977.</p>
                <p>Scheller, Robert Walter Hans Peter.<i> Exemplum: Model-Book Drawings and the Practice of Artistic Transmission in the Middle Ages (ca. 900-Ca. 1470).</i> Amsterdam University Press, 1995</p>
                <p>Schmid, Otto. “Die St. Lambrechter Todtenrotel von 1501-1502.” <i>Studien Und Mittheilungen Aus Dem Benediktiner- Und Dem Cistercienser Orden</i> 7 (1886): 176–83, 424–34.</p>
                <p>Schmidt, Victor M. “Some Notes on Scrolls in the Middle Ages.” <i>Quaerendo</i> 42 (2011): 373–83.</p>
                <p>Schröbler, Ingeborg. “Zur Überlieferung Des Mittelateinischen Gedichts von ‘Ganymed Und Helena.’” In <i>Unterscheidung Und Bewahrung. Festschrift Für Hermann Kunisch Zum 60. Geburstag 27. Oktober 1961</i>, 321–30. Berlin: Walter de Gruyber, 1961.</p>
                <p>Schubart, Wilhelm. <i>Papyri Graecae Berolinenses</i>. Bonn: A. Marcus and E. Weber, 1911.</p>
                <p>Scott, Kathleen L. <i>Later Gothic Manuscripts 1390-1490</i>. Vol. II. A Survey of Manuscripts Illuminated in the British IsleI 6. London: Harvey Miller, 1996.</p>
                <p>Scott, Kathleen L. <i>Tradition and Innovation in Later Medieval English Manuscripts</i>. London: The British Library, 2007.</p>
                <p>Shailor, Barbara A. <i>Catalogue of Medieval and Renaissance Manuscripts in the Beinecke Rare Book and Manuscript Library Yale University</i>. Vol. III. 100. Binghamton, NY: Medieval &amp; Renaissance Tests &amp; Studies, 1992.</p>
                <p>Shailor, Barbara A. <i>The Medieval Book: Catalogue of an Exhibition at the Beinecke Rare Book &amp; Manuscript Library, Yale University</i>. New Haven: Yale University Library, 1988.</p>
                <p>Sieben, Hermann Josef. <i>Konzilsdarstellungen, Konzilsvorstellungen: 1000 Jahre Konzilsikonographie Aus Handschriften Und Druckwerken</i>. Würzburg: Echter, 1990.</p>
                <p>Simpson, W. Sparrow. “On a Magical Roll of the Seventeenth Century.” <i>Journal of the British Archaeological Association</i> XL (1884): 297–332.</p>
                <p>Skemer, Don C. “Amulet Rolls and Female Devotion in the Late Middle Ages.” <i>Scriptorium</i> 55 (2001): 197–227.</p>
                <p>Skemer, Don C. <i>Binding Words: Textual Amulets in the Middle Ages</i>. Magic in History. University Park, PA: Pennsylvania State University Press, 2006.</p>
                <p>Skemer, Don C. “From Archives to the Book Trade: Private Statute Rolls in England, 1285-1307.” <i>Journal of the Society of Archivists</i> 16 (1995): 193–206.</p>
                <p>Skemer, Don C. <i>Medieval &amp; Renaissance Manuscripts in the Princeton University Library</i>. Vol. II. Department of Art and Archaeology, Princeton University, 2013.</p>
                <p>Skemer, Don C. “The Story of Engle and Scardying: Fragment of an Anglo-Norman Chronicle Roll.” <i>Viator</i> 40, no. 2 (December 2009): 255–75.</p>
                <p>Skemer, Don C. “Written Amulets and the Medieval Book.” <i>Scrittura E Civiltà</i> 23 (1999): 253–305.</p>
                <p>Société de l’histoire de France. <i>Annuaire-Bulletin de La Société de L’histoire de France</i>. Vol. 137. Librarie Renouard, 1866.</p>
                <p>Smith, J. Beverley, and Llinos Smith. <i>History of Merioneth II: The Middle Ages</i>. Cardiff: University of Wales Press, 2001.</p>
                <p>Smith, J. Beverley.<i> Llywelyn Ap Gruffudd: Prince of Wales</i>. Chicago: University of Chicago Press, 1998.</p>
                <p>Steegmüller, Friedrich. <i>Repertorium Biblicum Medii Aevi</i>. 11 vols. Madrid, 1958.</p>
                <p>Stevens, John. <i>Mediaeval Carols</i>. Musica Britannica 4. London: Stained and Bell, 1970.</p>
                <p>Stiennon, Jacques. “Routes et Courants de Culture. Le Rouleau Mortuaire de Guifred, Comte de Cerdagne, Moine de Saint-Martin Du Canigou (+ 1049).” <i>Annales Du Midi</i> 76 (1964): 305–14.</p>
                <p>Stork, Hans-Walter. “Spätmittelalterliche Gebetsbücher in Rollenform in Überlieferung Und Bild.” <i>Gutenberg Jarhbuch</i> 20 (2010): 43–78.</p>
                <p>Studt, Birgit. “Gebrauchsformen Mittelalterliche Rotuli. Das Wort Auf Dem Weg Zur Schrift—die Schrift Auf Dem Weg Zum Bild.” In <i>Vestigia Monasteriensa. Westfalen—Rheinland—Niederland</i>, edited by Ellen Widder, 325–50. Studien Zur Regionalgeschichte 5. Bielefeld, 1995.</p>
                <p>Suski, Andrzej Wojciech, Giacomo Baroffio, and Manlio Sodi. “Rotoli Liturgici Medievali (Secoli VII-XV). Censimento E Bibliografia.” <i>Revista Liturgica</i> 101, no. 3 (2014): 603–21.</p>
                <p>Sutton, Anne F., and Livia Visser-Fuchs. <i>Richard III’s Books: Ideals and Reality in the Life and Library of a Medieval Prince</i>. Stroud, Gloucestershire: Sutton, 1997.</p>
                <p>Swainson, C. A. <i>The Greek liturgies: chiefly from original authorities</i>. Translated by Carl Bezold. Cambridge: Cambridge University Press, 1884.</p>
                <p><a id="T">&nbsp;</a></p>
                <p><strong>T</strong></p>
                <p>Taft, Robert F. <i>The Great Entrance. A History of the Transfer of Gifts and Other Pre-Anaphoral Rites of the Liturgy of St. John Chrysostom</i>. (Orientalia Christiana Analecta 200. Rome: Pontificium Institutum Studiorum Orientalium, 1975.</p>
                <p>Takamiya, Toshiyuki. “A Handlist of Western Medieval Manuscripts in the Takamiya Collection.” In <i>The Medieval Book: Glosses from Friends &amp; Colleagues of Christopher de Hamel</i>, edited by James H. Marrow, Richard A. Linenthal, and William Noel, 421–40. Houten, Netherlands: Hes &amp; De Graaf Publishers, 2010.</p>
                <p>Tarchni˘svili, Michael. “Die Georgische Übersetzung Der Liturgie Des Hl. Joh. Chrysostomos Nach Einem Pergament-Rotulus Aus Dem X./XI. Jahrhundert.” <i>Jahrbuch Für Liturgiewissenschaft</i> 14 (1934): 79–94.</p>
                <p>Taylor, J. “The Judgement on Hugh Despenser, the Younger.” <i>Medievalia and Humanistica</i> 12 (1958): 70–77.</p>
                <p>The Metropolitan Museum of Art. <i>The Secular Spirit: Life and Art at the End of the Middle Ages</i>. New York: E.P. Dutton &amp; Co., 1975.</p>
                <p><i>The New Palaeographical Society. Facsimiles of Ancient Manuscripts, Etc</i>. First Series. London: Oxford University Press, 1903.</p>
                <p>The Pierpont Morgan Library. <i>Review of the Activities and Acquisitions of the Library from 1930 through 1935</i>. New York: The Pierpont Morgan Library, 1937.</p>
                <p>Thompson, Edward M. <i>An Introduction to Greek and Latin Palaeography</i>. Oxford: Clarendon Press, 1912.</p>
                <p>Ticehurst, N.F. “The Swan-Marks of West Norfolk.” <i>Transactions of the Norfolk and Norwich Naturalists’ Society</i> 12, no. 5 (1929): 581–630.</p>
                <p>Toledo Museum of Art. “Accessions of American and Canadian Museums, Jan.-Mar. 1961.” <i>Art Quarterly</i> XXIV, no. 2 (Summer 1961).</p>
                <p>Tredanari, Alfonso. <i>Inventario Del Tesoro Della Cattedrale Di Troia</i>. Lucca: Frattarolo, 1911.</p>
                <p>Turner, Marie. “Historical Context: Background Essay by Marie Turner.” Penn Libraries, 2013.</p>
                <p>Turner, William H. <i>Catalogue of Charters and Rolls Preserved in the Bodleian Library</i>. Oxford: Clarendon Press, 1878.</p>
                <p>Turyn, Alexander. <i>Codices Graeci Vaticani Saeculis XIII et XIV Scripti Annorumque Notis Instructi</i>. Codices E Vaticanis Selectis 28. Vatican City: Biblioteca Apostolica Vaticana, 1964.</p>
                <p>Tyson, Diana B. “Handlist of Manuscripts Containing the French Prose Brut Chronicle.” <i>Scriptorium</i>, no. 48 (1994): 333–44.</p>
                <p>Tyson, Diana B. “The Adam and Eve Roll: Corpus Christi College Cambridge MS 98.” <i>Scriptorium</i>, no. 52 (1998): 301–16.</p>
                <p>Tyson, Diana B. “The Manuscript Tradition of Old French Prose Brut Rolls.” <i>Scriptorium</i> 55 (2001): 107–18.</p>
                <p><a id="U">&nbsp;</a></p>
                <p><strong>U</strong></p>
                <p>University of Kansas Libraries. “11. ‘Chronica Regum Brittanniae’ England, ca 1250, Pryce MS J1.” I<i>n A Silver Anniversary: The First 25 Years of the Kenneth Spencer Research Library.</i> Lawrence, KS: Kansas University, 1994.</p>
                <p><a id="V">&nbsp;</a></p>
                <p><strong>V</strong></p>
                <p>Van Balberghe, Emilie. “Une Copie Exceptionnelle Du Libellus de Episcoporum Electionibus de Guillaume de Mandragout.” In <i>Miscellanea Martin Wittek: Album de Codicologie et de Paléographie Offert À Martin Wittek</i>, edited by Anny Raman, Eugène Manning, and Martin Wittek, 315–22. Louvain: Peeters, 1993.</p>
                <p>Van der Velden, Hugo. “A Prayer Roll of Henry Beauchamp, Earl of Warwick.” In <i>Tributes in Honor of James H. Marrow: Studies in Painting and Manuscript Illumination of the Late Middle Ages and Northern Renaissance</i>, edited by Jeffrey F. Hamburger and A. S. Korteweg, 521–49. London: Harvey Miller, 2006.</p>
                <p>Van Heek, J. “Beknopte Beschrijving van de Verzameling Middeleeuwse Handschriften, Handschriftfragmenten, Incunabelen En Fragmenten van Incunabelen, Grotendeels Bewerkt Aan de Hand van Vroegere Catalogi.” ’S-Heerenberg, 1971.</p>
                <p>Vaughan, Richard, and John Fines. “A Handlist of Manuscripts in the Library of Corpus Christi College, Cambridge.” In <i>Transactions of the Cambridge Bibliographic Society</i>, Vol. III. Cambridge, 1960.</p>
                <p>Vaughan, Richard, and John Fines. “A Handlist of Manuscripts in the Library of Corpus Christi College, Cambridge, Not Described by M.R. James.” In <i>Transactions of the Cambridge Bibliographic Society</i>, III: 113–23. Cambridge, 1960.</p>
                <p>Vennebusch, Joachim. <i>Die Theologischen Handschriften Des Stadtarchivs Køln. Teil 4: Handschrite Der Sammlung Wallraf</i>. Køln, 1986.</p>
                <p>Vidier, Alexander C. <i>L’historiographie à Saint-Benoît-sur-Loire et les miracles de saint Benoît</i>. Paris: A. et J. Picard, 1965.</p>
                <p><i>Vlaamse Miniaturen Voor van Eyck (ca.1380-ca.1420): Catalogus</i>. Leuven: Peeters, 1993.</p>
                <p>Vladimir (Archimandrite). <i>Sistematiceskoe Opisanïe Rukopisei Mosovskoi Sinodal’noi (patriarsei) Biblioteki</i>. Moscow, 1894.</p>
                <p>Von Gebhardt, Oscar, and Ernest Cushing Richardson. <i>Hieronymus Liber De Viris Inlustribus; Gennadius Liber De Viris Inlustribus</i>. Vol. 1. Texte Und Untersuchungen Zur Geschichte Der Altchristlichen Literatur 14. Leipzig: J.C. Hinrichs, 1896.</p>
                <p>Von Heinemann, Otto. <i>Die Augusteischen Handschriften</i>. Catalogs of the Herzog August Bibliothek Wolfenbüttel 8. Frankfurt am Main: Klostermann, 1966.</p>
                <p>Von Muri, Osterspiel. <i>Faksimiledruck Der Fragmente Und Rekonstruktion Der Pergamentrolle</i>. Basel: Alkuin-Verlag, 1967.</p>
                <p><a id="W">&nbsp;</a></p>
                <p><strong>W</strong></p>
                <p>Wagner, Anthony. <i>A Catalogue of English Medieval Rolls of Arms</i>. Aspilogia 1. Woodbridge, Suffolk: Boydell Press, 2009, 16–17.</p>
                <p>Walker, Christopher, and André Grabar. <i>L’iconographie des conciles dans la tradition byzantine</i>. Archives de l’Orient chrétien 13. Paris: Institut francais d’études byzantines, 1970.</p>
                <p>Wallensköld, A. <i>Le Ms. Londres, Bibliothèque de Lambeth Palace, Misc. Rolls 1435</i>. Mémoires de La Société Néo-Philologique À Helsingfors 6. Helsinki: Helsingfors Centraltryckeri, 1917.</p>
                <p>Walters Art Gallery.<i> Illuminated Books of the Middle Ages and Renaissance: An Exhibition Held at the Baltimore Museum of Art, January 27-March 13</i>. Baltimore: Trustees of the Walters Art Gallery, 1949.</p>
                <p>Wathey, Andrew, ed. <i>Berkeley Castle, Select Roll 55: Motets and Sequences from the Early Fourteenth Century</i>. Newton Abbot, Devon, England: Antico Edition, 1991.</p>
                <p>Wattenbach, Wilhelm. <i>Das schriftwesen im mittelalter</i>. 3rd ed. Leipzig: S. Hirzel, 1896.</p>
                <p>Weitzmann, Kurt. “Book Illistration of the Fourth Century: Tradition and Innovation.” In <i>Akten Des VII. Internationalen Kongresses Für Christliche Archäologie, Trier, 1965</i>, 257–81. Pontificio Istituto Di Archaeologia Cristiana, Studia Di Antichità Cristiana 27. Rome and Berlin, 1969.</p>
                <p>Weitzmann, Kurt. “Book Illistration of the Fourth Century: Tradition and Innovation.” In <i>Studies in Classical and Byzantine Manuscript Illumination</i>, edited by Herbert L. Kessler, 96–125. Chicago and London: University of Chicago Press, 1971.</p>
                <p>Weitzmann, Kurt. <i>Illustrations in Roll and Codex: A Study of the Origin and Method of Text Illustration</i>. 2nd ed. Studies in Manuscript Illumination. Princeton: Princeton University Press, 1970.</p>
                <p>Weitzmann, Kurt. <i>The Joshua Roll: A Work of the Macedonian Renaissance</i>. Studies in Manuscript Illumination 3. Princeton: Princeton University Press, 1948.</p>
                <p>Wessely, Karl. “Eine Pergamenrolle Des VI. Jahrhunderts.” <i>Wiener Studien</i> 4 (1882): 214–23.</p>
                <p>Wichner, Jacob. “Eine Admonter Totenrotel Des 15. Jahrhunderts.” <i>Studien Und Mittheilungen Aus Dem Benediktiner- Und Dem Cistercienser-Orden</i> 5 (1884): 61–82, 314–40.</p>
                <p>Wieck, Roger S. <i>Late Medieval and Renaissance Illuminated Manuscripts, 1350-1525, in the Houghton Library</i>. Cambridge: Harvard College Library, 1983.</p>
                <p>Wiggins, Martin and Catherine Richardson. <i>British Drama 1533-1642: A Catalogue. </i>5 vols. Oxford: Oxford University Press, 2012-2015.</p>
                <p>Wijsman, Hanno. <i>Luxury Bound. Illustrated Manuscript Production and Noble and Princely Book Ownership in the Burgundian Netherlands (1400-1550)</i>. Turnhout: Brepols, 2010.</p>
                <p>Wittek, Martin. “Les Manuscrits Grecs de La Bibliothèque Royale Albert Ier: Vingt Années D’acquisitions (1954–73).” In <i>Le Monde Grec: Pensée, Littérature, Histoire, Documents</i>, edited by Jean Bingen, 245–54. Brussels, 1975.</p>
                <p>Wolf, Edwin, A. S. W. Rosenbach, and John Frederick Lewis. <i>A Descriptive Catalogue of the John Frederick Lewis Collection of European Manuscripts in the Free Library of Philadelphia</i>. Philadelphia: n.p., 1937.</p>
                <p>Wright, Thomas, ed. “Item vi.” In <i>Feudal Manuals of English History: A Series of Popular Sketches of Our National History, Compiled at Different Periods, from the Thirteenth Century to the Fifteenth, for the Use of the Feudal Gentry and Nobility, 154–69</i>. London: J. Mayer, 1872.</p>
                <p>Wustefeld, W. C. M. “A Remarkable Prayer Roll Attributed to the Master of Sir John Fastolf (Rouen, c .1440, Museum Catharijneconvent Utrecht, MS ABM h4a).” <i>Quaerendo</i> 33 (2003): 233–46.<br>
                <a id="Y">&nbsp;</a></p>
                <p><strong>Y</strong></p>
                <p>Young, Karl. <i>The Drama of the Medieval Church</i>. 2 vols. Oxford: Clarendon press, 1962.</p>
                <p><a id="Z">&nbsp;</a></p>
                <p><strong>Z</strong></p>
                <p>Zazo, Alfredo. “L’ ‘Inventario Dei Libri Antichi’ Della Biblioteca Capitolare Di Benevento (sec. XV).” <i>Samnium</i> 8 (1935): 5–25.</p>
            </div>
        </section>
    </main>
</PageLayout>
<style>
    .article-body p {
        font-size: 16px;
        font-weight: 400;
        padding-left: 48px;
        text-indent: -48px;
    }
</style>