---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Medieval Scrolls Exhibit at Houghton Library" imgPath="">
  <main>
    <section class="article-content">
      <div class="article-body">
        <table width="100%" cellspacing="10" cellpadding="5" align="center">
          <tbody>
            <tr>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/typ11"
                  >Typ 11 – Genealogy of English Kings</a
                ></td
              >
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/typ40"
                  >Typ 40 – Chronicle of England</a
                ></td
              >
            </tr>
            <tr>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/typ41"
                  >Typ 41 – Universal Chronicle</a
                ></td
              >
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/fr495"
                  >Fr 495 – Universal Chronicle</a
                ></td
              >
            </tr>
            <tr>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/typ216"
                  >Typ 216 – Historical Compendium</a
                ></td
              >
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/lawms180"
                  >Law MS 180 – Laws of England</a
                ></td
              >
            </tr>
            <tr>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/typ584"
                  >Typ 584 – The Seven Vices</a
                ></td
              >
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/lat198"
                  >Lat 198 – Medieval Latin Poem</a
                ></td
              >
            </tr>
            <tr>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/typ286"
                  >Typ 286 – Indulgence</a
                ></td
              >
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/typ-550"
                  >Typ 550 – Latin Prayers</a
                ></td
              >
            </tr>
            <tr>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/typ416"
                  >Typ 416 – Liturgy of Basil the Great</a
                ></td
              >
              <td align="left" valign="top"
                ><a
                  href="http://omeka.cga.harvard.edu/exhibits/show/medscrolls/scripts/typ1001"
                  >Typ 1001 – Pilgrimage Scroll</a
                ></td
              >
            </tr>
          </tbody>
        </table>
        <h2>The Handwriting on the Harvard Scrolls</h2>
        <p>
          The dating of the scrolls and handwriting in the exhibition ranges
          from the 12th&nbsp;century to the 15th. A brief account of how Latin
          handwriting developed during that period will clarify the broad
          historical context of the scrolls and the terms used for describing
          them. The one Greek scroll in the exhibition, MS Typ 416, Divine
          Liturgy of St. Basil the Great, is written in a clear and regular
          minuscule script, typical for 13th&nbsp;century Greek liturgical
          manuscripts.
        </p>
        <p>
          12th&nbsp;century Latin scripts reveal the beginning of cultural and
          economic changes that accelerated in the course of the later Middle
          Ages. Supported by economic and population growth, monasteries, towns,
          cities, and schools grew during the “Twelfth-Century Renaissance.” The
          growth of economic activity and learning brought an increasing market
          for books. The Romanesque style flourished, but later construction
          continued to push upward using the ogive, or diagonal rib of the
          so-called Gothic or pointed arch. The rounded letter tops of
          12th&nbsp;century writing are likened to the romanesque arch, while
          their Gothic counterparts are compared to the pointed arches.
        </p>
        <p>
          An efficient and legible script developed in order to write as much as
          feasible in the smallest possible space. As the Gothic developed
          further, there was increasing compression and straightness of the
          strokes. The 15th&nbsp;century Humanists gave the name Gothic to this
          script. Gothic was in wide use around 1200 and existed in numerous
          forms. Three broad types are classified as:
        </p>
        <p>1. Textual Gothic, a bookhand</p>
        <p>2. Cursive Gothic</p>
        <p>3. Hybrid Gothic, a formalized cursive script.</p>
        <p>
          Within the three types, there are different degrees of accuracy and
          cursiveness as well as distinctions of angularity and rotundity.
        </p>
        <h2>The various scripts found in the Houghton scrolls:</h2>
        <table cellspacing="5" cellpadding="8" align="center">
          <tbody>
            <tr>
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/867bc1234e977689b49ef713f89a10f3.jpg"
                  alt=""
                /><br />
                MS Typ 216: Peter of Poitiers, Compendium – upright early Gothic
                bookhand</td
              >
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/1f2904c5b9ef99e032271866a41a8d84.jpg"
                  alt=""
                /><br />
                MS Typ 216: Peter of Poitiers, Compendium – upright early Gothic
                bookhand</td
              >
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/704e9cbeaa12352a776764aa57869909.jpg"
                  alt=""
                /><br />
                MS Typ 216: Peter of Poitiers, Compendium – upright early Gothic
                bookhand</td
              >
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/9fa49d794990ee14ccc732a7a14714ce.jpg"
                  alt=""
                /><br />
                MS Typ 216: Peter of Poitiers, Compendium – upright early Gothic
                bookhand</td
              >
            </tr>
            <tr>
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/b6ce87e1ecbaf7b69827146383f6dea6.jpg"
                  alt=""
                /><br />
                MS Typ 286: Indulgence Roll – Gothic book hand</td
              >
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/ce496957ec7b0f601a61a1d7f1b6a89e.jpg"
                  alt=""
                /><br />
                MS Typ 584: Septenarium pictum – proto-Gothic</td
              >
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/a3e0e013d70ca6bf4e3b10bd176e0bf3.jpg"
                  alt=""
                /><br />
                MS Typ 11: Genealogical history of the Kings of England – Gothic
                book hand</td
              >
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/e9b8f406becdd41d562c31b79c1222e8.jpg"
                  alt=""
                /><br />
                MS Typ 550: Rhymed Prayers of St. Bernard – careful rounded Gothic</td
              >
            </tr>
            <tr>
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/076d880a94d72317ad2c066d1e96b091.jpg"
                  alt=""
                /><br />
                MS Typ 41– French hybrid Gothic, also called bâtarde</td
              >
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/da12d3974b4c0b09f4092a6016aa644d.jpg"
                  alt=""
                /><br />
                MS Fr 495 – Hybrid Gothic, close to French bâtarde</td
              >
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/14f9f61c4e8c1ebc02a4b6684bbd363c.jpg"
                  alt=""
                /><br />
                MS Typ 1001: Pilgrimage of Peter of the Cross – small rounded Gothic
                bookhand</td
              >
              <td align="center" valign="top"
                ><img
                  class="colorbox-887"
                  src="http://omeka.cga.harvard.edu/files/square_thumbnails/b446fb045fa045ee659d130b46e87e0b.jpg"
                  alt=""
                /><br />
                Typ 416: Divine Liturgy of Our Holy Father Basil the Great – Byzantine
                Greek archaizing minuscule</td
              >
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
</PageLayout>
