---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Scrolls: A Basic Introduction"
  imgPath="houghton_scroll5.jpg"
>
  <main>
    <section class="article-content">
      <div class="article-body">
        <h2>What is a scroll?</h2>
        <p>
          A scroll, or rotulus, or roll, is a length of papyrus, leather,
          parchment, or paper, on which writing is preserved and which is stored
          in a rolled form. It is most often made by fastening several pieces
          together, with glue, thread, or thongs. Rolls are often, but not
          always, written on one side only, for reasons of convenience. An
          opisthographic roll is one written on both sides, either originally or
          in the process of&nbsp;re-using the blank outer side of an older
          scroll.
        </p>
        <p>
          Scrolls are oriented either horizontally or vertically. The writing is
          sometimes arranged in columns written from top to bottom of the width,
          with the document held sideways for reading and writing; this is the
          most common layout in antiquity. (It is of course very rare for a
          horizontal scroll to be written in long lines across the entire long
          dimension, because this entails the full-length rolling of the scroll
          for each line of text.) Most medieval scrolls are oriented vertically,
          usually with a single continuous column of text (unless interrupted by
          diagrams or illustrations) from top to bottom; this is the arrangement
          in all the scrolls exhibited here
        </p>
        <p>
          Scrolls are usually wound around a central baton, the&nbsp;umbilicus;
          the papyrus, leather, or parchment which is nearest the center,
          although it might bear the weight of the length of the scroll,
          generally receives far less wear than the outer portions, since the
          outer membranes must be handled at every use in reaching the center.
        </p>

        <h2>When were scrolls used?</h2>
        <p>
          The scroll is the standard way of preserving a text in antiquity;
          among the Egyptians, the Greeks, the Romans, and elsewhere, rolls were
          the standard form of book. The papyrus roll was known four thousand
          years B.C.E. The oldest surviving rolls are all of papyrus, a material
          that continued to be used until the sixth century C.E.
        </p>
        <p>
          By the fourth century C.E., however, the codex became the most usual
          way of preserving a text; a codex is compact and it provides instant
          access to any place in the text. The spread of Christianity was
          accompanied by the domination of the codex, and in the Middle Ages the
          scroll ceased to be the main vehicle for writing. But a few scrolls
          continued to be made, and they are the subject of this exhibition.
        </p>

        <h2>Why Make Scrolls?</h2>
        <p>
          Scrolls continued to be made and used throughout the Middle Ages. Why
          was the scroll preferred to the codex? There are four reasons that
          suggest scroll format, and these account for essentially all medieval
          scrolls.
        </p>
        <p>
          <strong>1. Scrolls whose length is not known at the beginning.</strong
          >
        </p>
        <ul>
          <li>
            Scrolls that record edicts, receipts, lists (see the manor court
            roll on display in the <a
              href="/houghton-library"
              >Houghton Library Exhibit</a
            >)
          </li>
          <li>
            Mortuary scrolls; these traveled from place to place to announce the
            death of a high ecclesiastic, and to which were added prayers for
            the deceased at each stop, the scroll growing longer as it traveled.
          </li>
          <li>Legal decrees</li>
        </ul>
        <p><strong>2. Scrolls designed to be portable.</strong></p>
        <ul>
          <li>
            Amulets, prayers, and charms (such as the&nbsp;Arma
            Christi&nbsp;rolls, and the Life of St. Margaret which, if worn on
            the body, protects during pregnancy)
          </li>
          <li>
            Processional scrolls, used when a full liturgical book is too much
          </li>
          <li>Actors’ scrolls (rôles)</li>
          <li>
            Poetry (useful in recitation: see the Ganymede and Helena roll on
            display)
          </li>
        </ul>
        <p>
          <strong>3. Scrolls whose text or content suggests roll format.</strong
          >
        </p>
        <ul>
          <li>
            Maps (itineraries for pilgrimages to Rome, the Holy Land, etc.; see
            the pilgrimage roll on display)
          </li>
          <li>Heraldic rolls</li>
          <li>Genealogies (notable examples are on display)</li>
          <li>
            Chronicles and other long formats (consider the Chronicle rolls and
            the Compendium of Peter of Poitiers on display).
          </li>
        </ul>
        <p><strong>4. Scrolls that are archaizing in nature.</strong></p>
        <ul>
          <li>
            Liturgical scrolls (see the Greek liturgical scroll on display)
          </li>
          <li>Reports of church councils</li>
        </ul>
        <p>
          These reasons also prompt the making of scrolls today; practical
          reasons dictate the manufacture of microfilm, cinema film, rolls of
          paper for printing and facsimile use, scrolling computer screens; and
          ceremonial considerations lead to the production of Torah scrolls,
          citations, and academic diplomas. Jack Kerouac kept the pages
          of&nbsp;On the Road&nbsp;in order by gluing each new page to the end
          of the previous one.
        </p>

        <h2>Credits</h2>
        <p>
          Thomas Kelly, Beverly Kienzle, Timothy Baker, William Stoneman, Lisa
          Fagin Davis, Leland Grigoli, Aaron Macks, Emerson Morgan, Porter
          White, Arlene L. Navarro, Helen Cushman, Rebecca Frankel, Honor
          Wilkinson, Zoey Walls, Patrick R. McCoy, Nicole Pulichene, Marina
          Connelly, Katherine Wrisley Shelby, Yashua Bhatti, Scott Possiel, and
          Sean T. McLaughlin.
        </p>
      </div>
    </section>
  </main>
</PageLayout>
