---
import veritas from '../images/veritas.png';

const currentYear = new Date().getFullYear();
---

<footer class="pt96 pb96 pt-xs-48 pb-xs-48">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-5 text-right text-left-xs">
        <h1 class="bold">Medieval Scrolls Digital Archive</h1>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs text-center pt48">
        <img
          class="site-logo"
          src={veritas.src}
        />
      </div>
      <div class="col-md-5 col-sm-6">
        <p class="lead">
          Get in touch for more information on the archive and inquiries
          regarding media and investors.
        </p>
        <a href="mailto:contact@medievalscrolls.com"
          ><h4 class="mb8">contact@medievalscrolls.com</h4></a
        >
        <a href="https://twitter.com/@medievalscrolls" target="_blank"
          ><h4 class="mb0">@medievalscrolls</h4></a
        >
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-1 text-center"
      >
        <p class="fade-1-4">
          ©{currentYear} <span>Medieval Scrolls Digital Archive</span>, HarvardX, and
          Harvard University.<br /><br />All media related to the <span
            >Medieval Scrolls Digital Archive</span
          > is in the public domain.
        </p>
      </div>
    </div>
  </div>
</footer>
