---
import { SITE_TITLE } from '../consts';
import veritas from '../images/veritas.png';
---
<header class="header nav-container headroom headroom--top">
	<nav id="access" class="primary bg-dark" role="navigation">
        <div class="nav-bar">
            <div class="module left">
                <a class="site-title-wrap md-button md-ink-ripple" href="/scrolls-astro">
                    <img src={veritas.src} alt="Harvard shield logo" class="site-logo"/>
                    <h1 class="site-title">{ SITE_TITLE }</h1>
                </a>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li><a href="/scrolls-astro/intro">Scrolls: Introduction</a></li>
                        <li><a href="/scrolls-astro/bibliography">Bibliography</a></li>
                        <li><a href="/scrolls-astro/scrolls">Database</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
