---
import { SITE_TITLE } from '../consts';
---
<header>
	<nav>
        <div class="left">
            <a href="/">

                <h1>{ SITE_TITLE }</h1>
            </a>
        </div>
        <div class="right">
            <div class="left">
                <ul class="menu">
                    <li><a href="/introduction">Scrolls: Introduction</a></li>
                    <li><a href="/bibliography">Bibliography</a></li>
                    <li><a href="/database">Database</a></li>
                    <li><a href="/search.json">Search Endpoint</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
