---
interface Props {
    title: string;
    imgPath: string;
}
const { title, imgPath } = Astro.props;
import scrollImg from '../images/houghton_scroll5.jpg';
const headlineStyle = `transform: translate3d(0px, 0px, 0px); background: url('${scrollImg.src}');`

// Tried to use glob to get all images in a folder, but it doesn't work: https://docs.astro.build/en/recipes/dynamically-importing-images/
// For now just hardcoding the one image instead
// import { Image } from 'astro:assets';
// const images = import.meta.glob('/src/images/*.{jpeg,jpg,png,gif}')
---
<section class="headline-image page-headline-image parallax ">
    <div class="background-image-holder fadeIn less-blur" style={headlineStyle}>
        <img alt="Background Image" class="background-image" src={ scrollImg.src } style="display: none;">
        <!-- <Image src={images[imgPath]()} alt="" /> -->
    </div>
    <div class="background-screen"></div>

    <div class="container v-align-transform">
        <div class="row">
            <div class="col-md-8">
                <h1 class="uppercase mb8 page-title">{ title }</h1>
            </div>
        </div>
    </div>
</section>
