---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
    title: string;
}

const { title } = Astro.props;
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:100,600|Open+Sans:100,300,700,100italic,300italic,700italic|IM+Fell+English|Material+Icons|Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600|Roboto:100,300,400,600,700|Merriweather:300" rel="stylesheet" type="text/css">
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Medieval Scrolls at Harvard</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>